dify-gitlab-mr-reviewer.yaml
app:
  description: 请认真书写 Git 提交信息，以及 MR 的描述。有助于准确审查代码。
  icon: eyes
  icon_background: '#D3F8DF'
  mode: workflow
  name: GitLab 代码审查助理
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.3@dddcb77e49af30c7089baa305f2320cd40d4c3b931e035c80fce8a78c7b38639
    version: null
kind: app
version: 0.4.0
workflow:
  conversation_variables: []
  environment_variables:
  - description: 调用 TV Bot 的接口发送 IM 消息
    id: 3e7b4d79-b8e5-4fce-8770-d2281671382d
    name: TV_BOOT_ID
    selector:
    - env
    - TV_BOOT_ID
    value: {YOUR_IM_BOT_TOKEN_HERE}
    value_type: string
  - description: 是否在逐文件循环中发送 TV 消息（默认 true）
    id: 9e5d0f4b-2a1b-4b6c-9e46-0d1a3b0f2c1d
    name: ENABLE_LOOP_SEND_MESSAGE
    selector:
    - env
    - ENABLE_LOOP_SEND_MESSAGE
    value: 'true'
    value_type: string
  - description: ''
    id: c32caa8c-7a2d-49f7-93c0-e8c992907d8a
    name: IGNORE_FILES
    selector:
    - env
    - IGNORE_FILES
    value: (pnpm-lock\.yaml|package-lock\.json|yarn\.lock|composer\.lock|openapi\.json|(translation|zh|en)\.json|\.env(\.\w*)?|\.gitignore|package\.json|page\.tsx|\w*\.md|\w\.test\.(j|t)sx?)(?=$|\/|\\)
    value_type: string
  - description: ''
    id: 2310b4b5-f214-489d-821d-2d3220af3a70
    name: GITLAB_REVIEWER_USERNAME
    selector:
    - env
    - GITLAB_REVIEWER_USERNAME
    value: mountainwu
    value_type: string
  - description: ''
    id: a6b7fd21-6ef9-4c94-99a4-7090145d9756
    name: GITLAB_HOST
    selector:
    - env
    - GITLAB_HOST
    value: https://git.kuainiujinke.com
    value_type: string
  - description: ''
    id: 0af3db9e-fdff-4d7b-9d42-851d3fc1d2e3
    name: MAX_STRING
    selector:
    - env
    - MAX_STRING
    value: 80000
    value_type: integer
  - description: ''
    id: 2e03656f-166f-47bc-bb31-27afbbca9982
    name: GITLAB_PRIVATE_TOKEN
    selector:
    - env
    - GITLAB_PRIVATE_TOKEN
    value: {YOUR_TOKEN_HERE}
    value_type: secret
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - remote_url
      - local_file
      enabled: true
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 1
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 17346390565450-source-17346946700280-target
      selected: false
      source: '17346390565450'
      sourceHandle: source
      target: '17346946700280'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 17346847020550-source-17346946709900-target
      selected: false
      source: '17346847020550'
      sourceHandle: source
      target: '17346946709900'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1734694634848-source-1734702859732-target
      selected: false
      source: '1734694634848'
      sourceHandle: source
      target: '1734702859732'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1734702859732-true-1734706580846-target
      selected: false
      source: '1734702859732'
      sourceHandle: 'true'
      target: '1734706580846'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1734623374802-source-17346383362280-target
      selected: false
      source: '1734623374802'
      sourceHandle: source
      target: '17346383362280'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1757000000003-source-1757000000004-target
      selected: false
      source: '1757000000003'
      sourceHandle: source
      target: '1757000000004'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: http-request
      id: 1757000000004-source-1757000000005-target
      selected: false
      source: '1757000000004'
      sourceHandle: source
      target: '1757000000005'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: if-else
      id: 1757000000005-source-1757000000018-target
      selected: false
      source: '1757000000005'
      sourceHandle: source
      target: '1757000000018'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1757000000018-true-1757000000019-target
      selected: false
      source: '1757000000018'
      sourceHandle: 'true'
      target: '1757000000019'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1757000000018-false-1734623951413-target
      selected: false
      source: '1757000000018'
      sourceHandle: 'false'
      target: '1734623951413'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1757000000019-source-1757000000020-target
      selected: false
      source: '1757000000019'
      sourceHandle: source
      target: '1757000000020'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1757000000020-source-1734623951413-target
      selected: false
      source: '1757000000020'
      sourceHandle: source
      target: '1734623951413'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 1734625888939-source-1757000000013-target
      selected: false
      source: '1734625888939'
      sourceHandle: source
      target: '1757000000013'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1757000000013-source-1757000000014-target
      selected: false
      source: '1757000000013'
      sourceHandle: source
      target: '1757000000014'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1757000000014-source-1757000000015-target
      selected: false
      source: '1757000000014'
      sourceHandle: source
      target: '1757000000015'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1757000000015-true-1757000000003-target
      selected: false
      source: '1757000000015'
      sourceHandle: 'true'
      target: '1757000000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1757000000015-false-1734623951413-target
      selected: false
      source: '1757000000015'
      sourceHandle: 'false'
      target: '1734623951413'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1735063824243-true-17346390565450-target
      selected: false
      source: '1735063824243'
      sourceHandle: 'true'
      target: '17346390565450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 17346946709900-source-1757000000010-target
      selected: false
      source: '17346946709900'
      sourceHandle: source
      target: '1757000000010'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1757000000010-true-1757000000011-target
      selected: false
      source: '1757000000010'
      sourceHandle: 'true'
      target: '1757000000011'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1757000000010-false-17351266890650-target
      selected: false
      source: '1757000000010'
      sourceHandle: 'false'
      target: '17351266890650'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 17351266890650-source-1757000000012-target
      selected: false
      source: '17351266890650'
      sourceHandle: source
      target: '1757000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1757000000011-source-1757000000012-target
      selected: false
      source: '1757000000011'
      sourceHandle: source
      target: '1757000000012'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: code
      id: 1757000000012-source-1734694634848-target
      selected: false
      source: '1757000000012'
      sourceHandle: source
      target: '1734694634848'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 17351299823070-source-1735130047799-target
      selected: false
      source: '17351299823070'
      sourceHandle: source
      target: '1735130047799'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 17346383362280-source-1735063824243-target
      selected: false
      source: '17346383362280'
      sourceHandle: source
      target: '1735063824243'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 17346946700280-source-17346847020550-target
      selected: false
      source: '17346946700280'
      sourceHandle: source
      target: '17346847020550'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1735063824243-1388bd2c-6220-40e8-8106-7f12e3f29c36-17346390565450-target
      selected: false
      source: '1735063824243'
      sourceHandle: 1388bd2c-6220-40e8-8106-7f12e3f29c36
      target: '17346390565450'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: http-request
        targetType: code
      id: 1735577973160-source-1735578500986-target
      selected: false
      source: '1735577973160'
      sourceHandle: source
      target: '1735578500986'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1734702859732-false-1757000000000-target
      selected: false
      source: '1734702859732'
      sourceHandle: 'false'
      target: '1757000000000'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: knowledge-retrieval
      id: 1757000000000-source-1757000000001-target
      selected: false
      source: '1757000000000'
      sourceHandle: source
      target: '1757000000001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: knowledge-retrieval
        targetType: http-request
      id: 1757000000001-source-17351299823070-target
      selected: false
      source: '1757000000001'
      sourceHandle: source
      target: '17351299823070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: http-request
      id: 1734706580846-fail-branch-17351299823070-target
      selected: false
      source: '1734706580846'
      sourceHandle: fail-branch
      target: '17351299823070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: http-request
      id: 1734706580846-source-17351299823070-target
      selected: false
      source: '1734706580846'
      sourceHandle: source
      target: '17351299823070'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: iteration-start
        targetType: if-else
      id: 1734625888939start-source-1735656398035-target
      selected: false
      source: 1734625888939start
      sourceHandle: source
      target: '1735656398035'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: http-request
      id: 1735656398035-false-1735656485832-target
      selected: false
      source: '1735656398035'
      sourceHandle: 'false'
      target: '1735656485832'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: http-request
        targetType: code
      id: 1735656485832-source-1735656928069-target
      selected: false
      source: '1735656485832'
      sourceHandle: source
      target: '1735656928069'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: variable-aggregator
      id: 1735656928069-source-1735656975326-target
      selected: false
      source: '1735656928069'
      sourceHandle: source
      target: '1735656975326'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: variable-aggregator
        targetType: code
      id: 1735656975326-source-1735129504155-target
      selected: false
      source: '1735656975326'
      sourceHandle: source
      target: '1735129504155'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: code
      id: 1735656398035-true-1735657958915-target
      selected: false
      source: '1735656398035'
      sourceHandle: 'true'
      target: '1735657958915'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: variable-aggregator
      id: 1735657958915-source-1735656975326-target
      selected: false
      source: '1735657958915'
      sourceHandle: source
      target: '1735656975326'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: if-else
      id: 1735129504155-source-1735658556053-target
      selected: false
      source: '1735129504155'
      sourceHandle: source
      target: '1735658556053'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: http-request
      id: 1735658556053-true-1735577973160-target
      selected: false
      source: '1735658556053'
      sourceHandle: 'true'
      target: '1735577973160'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: llm
        targetType: code
      id: 1734775287920-source-1735661041621-target
      selected: false
      source: '1734775287920'
      sourceHandle: source
      target: '1735661041621'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: code
      id: 1735661041621-source-1757000000002-target
      selected: false
      source: '1735661041621'
      sourceHandle: source
      target: '1757000000002'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: if-else
      id: 1757000000002-source-1734700071985-target
      selected: false
      source: '1757000000002'
      sourceHandle: source
      target: '1734700071985'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: code
      id: 1735063824243-aa3a90e1-bf6e-40f6-8b14-2cc4113552bf-1735985486526-target
      selected: false
      source: '1735063824243'
      sourceHandle: aa3a90e1-bf6e-40f6-8b14-2cc4113552bf
      target: '1735985486526'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1735063824243-false-1735985496074-target
      selected: false
      source: '1735063824243'
      sourceHandle: 'false'
      target: '1735985496074'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: code
      id: 1735994215169-source-17359946280530-target
      selected: false
      source: '1735994215169'
      sourceHandle: source
      target: '17359946280530'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: http-request
      id: 1735997609752-true-1734699123251-target
      selected: false
      source: '1735997609752'
      sourceHandle: 'true'
      target: '1734699123251'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: http-request
      id: 1735997609752-false-1735131066155-target
      selected: false
      source: '1735997609752'
      sourceHandle: 'false'
      target: '1735131066155'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: if-else
      id: 1734700071985-true-1735997609752-target
      selected: false
      source: '1734700071985'
      sourceHandle: 'true'
      target: '1735997609752'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 1735130047799-source-1734625888939-target
      selected: false
      source: '1735130047799'
      sourceHandle: source
      target: '1734625888939'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: iteration
      id: 17359946280530-source-17359979073310-target
      selected: false
      source: '17359946280530'
      sourceHandle: source
      target: '17359979073310'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: iteration-start
        targetType: code
      id: 1735997907331start-source-1735997907331017359979073323-target
      selected: false
      source: 1735997907331start
      sourceHandle: source
      target: '1735997907331017359979073323'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: http-request
        targetType: code
      id: 1735997907331017359979073325-source-1735997907331017359979073326-target
      selected: false
      source: '1735997907331017359979073325'
      sourceHandle: source
      target: '1735997907331017359979073326'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: llm
        targetType: code
      id: 1735997907331017359979073322-source-17359979073310173599790733313-target
      selected: false
      source: '1735997907331017359979073322'
      sourceHandle: source
      target: '17359979073310173599790733313'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: code
        targetType: if-else
      id: 1735997907331017359979073323-source-1735999461323-target
      selected: false
      source: '1735997907331017359979073323'
      sourceHandle: source
      target: '1735999461323'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: if-else
        targetType: http-request
      id: 1735999461323-true-1735997907331017359979073325-target
      selected: false
      source: '1735999461323'
      sourceHandle: 'true'
      target: '1735997907331017359979073325'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: code
        targetType: variable-aggregator
      id: 1735997907331017359979073326-source-1735999561470-target
      selected: false
      source: '1735997907331017359979073326'
      sourceHandle: source
      target: '1735999561470'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: variable-aggregator
        targetType: llm
      id: 1735999561470-source-1735997907331017359979073322-target
      selected: false
      source: '1735999561470'
      sourceHandle: source
      target: '1735997907331017359979073322'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: if-else
        targetType: code
      id: 1735999461323-false-1735999691450-target
      selected: false
      source: '1735999461323'
      sourceHandle: 'false'
      target: '1735999691450'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '17359979073310'
        sourceType: code
        targetType: variable-aggregator
      id: 1735999691450-source-1735999561470-target
      selected: false
      source: '1735999691450'
      sourceHandle: source
      target: '1735999561470'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        sourceType: iteration
        targetType: code
      id: 17359979073310-source-1736000355076-target
      selected: false
      source: '17359979073310'
      sourceHandle: source
      target: '1736000355076'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: http-request
      id: 1736003178180-true-1735994215169-target
      selected: false
      source: '1736003178180'
      sourceHandle: 'true'
      target: '1735994215169'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1736003178180-false-1736003193053-target
      selected: false
      source: '1736003178180'
      sourceHandle: 'false'
      target: '1736003193053'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: if-else
      id: 1735985486526-source-1736228935056-target
      selected: false
      source: '1735985486526'
      sourceHandle: source
      target: '1736228935056'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: if-else
      id: 1736228935056-true-1736003178180-target
      selected: false
      source: '1736228935056'
      sourceHandle: 'true'
      target: '1736003178180'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: if-else
        targetType: end
      id: 1736228935056-false-1736229032478-target
      selected: false
      source: '1736228935056'
      sourceHandle: 'false'
      target: '1736229032478'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1736000355076-source-1754277742659-target
      selected: false
      source: '1736000355076'
      sourceHandle: source
      target: '1754277742659'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1754277742659-source-1735998423516-target
      selected: false
      source: '1754277742659'
      sourceHandle: source
      target: '1735998423516'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: http-request
        targetType: code
      id: 1734699123251-source-1754278744853-target
      selected: false
      source: '1734699123251'
      sourceHandle: source
      target: '1754278744853'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: http-request
        targetType: code
      id: 1735131066155-source-1754278744853-target
      selected: false
      source: '1735131066155'
      sourceHandle: source
      target: '1754278744853'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: llm
      id: 1735578500986-source-1734775287920-target
      selected: false
      source: '1735578500986'
      sourceHandle: source
      target: '1734775287920'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: code
        targetType: http-request
      id: 1754278744853-source-1757000000016-target
      selected: false
      source: '1754278744853'
      sourceHandle: source
      target: '1757000000016'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: http-request
      id: 1757000000016-true-1754289121034-target
      selected: false
      source: '1757000000016'
      sourceHandle: 'true'
      target: '1754289121034'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        iteration_id: '1734625888939'
        sourceType: if-else
        targetType: code
      id: 1757000000016-false-1757000000017-target
      selected: false
      source: '1757000000016'
      sourceHandle: 'false'
      target: '1757000000017'
      targetHandle: target
      type: custom
      zIndex: 1002
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: payload
          max_length: 8192
          options: []
          required: true
          type: paragraph
          variable: payload
      height: 88
      id: '1734623374802'
      position:
        x: 0
        y: 289
      positionAbsolute:
        x: 0
        y: 289
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 结束节点
        outputs:
        - value_selector: []
          variable: ''
        selected: false
        title: True End
        type: end
      height: 80
      id: '1734623951413'
      position:
        x: 13988
        y: 361
      positionAbsolute:
        x: 13988
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({mr_title, mr_description, author_name, author_username,\
          \ mr_url, diffs, diff_count, file_reviews, reviewer_username}) {\n  const\
          \ tryParse = (s) => {\n    try {\n      return JSON.parse(s);\n    } catch\
          \ {\n      return null;\n    }\n  };\n\n  let additions = 0;\n  let deletions\
          \ = 0;\n  const arr = Array.isArray(diffs) ? diffs : [];\n  for (const raw\
          \ of arr) {\n    const obj = typeof raw === 'string' ? tryParse(raw) : raw;\n\
          \    const diffText = obj?.diff;\n    if (!diffText || typeof diffText !==\
          \ 'string') continue;\n    for (const line of diffText.split('\\n')) {\n\
          \      if (line.startsWith('+++') || line.startsWith('---')) continue;\n\
          \      if (line.startsWith('+')) additions += 1;\n      else if (line.startsWith('-'))\
          \ deletions += 1;\n    }\n  }\n\n  const fileCount = typeof diff_count ===\
          \ 'number' && diff_count > 0\n    ? diff_count\n    : (Array.isArray(file_reviews)\
          \ ? file_reviews.length : 0);\n\n  const now = new Date();\n  const pad\
          \ = (n) => String(n).padStart(2, '0');\n  const ts = `${now.getFullYear()}-${pad(now.getMonth()\
          \ + 1)}-${pad(now.getDate())} ${pad(now.getHours())}:${pad(now.getMinutes())}`;\n\
          \n  const reviewsJoined = (Array.isArray(file_reviews) ? file_reviews :\
          \ [])\n    .filter(Boolean)\n    .join('\\n\\n---\\n\\n')\n    .slice(0,\
          \ 120000);\n\n  const marker = '<!-- ai-mr-review-summary -->';\n\n  const\
          \ summary_user_input = `以下是本次 MR 的信息与逐文件审查结果（请严格按提示词规定的 Markdown 结构输出，章节齐全、顺序固定）：\\\
          n\\n` +\n    `MR 标题：${mr_title || ''}\\n` +\n    `MR 链接：${mr_url || ''}\\\
          n` +\n    `提交者：${author_name || ''} (@${author_username || ''})\\n` +\n\
          \    `变更文件数：${fileCount} 个文件\\n` +\n    `变更代码行数：+${additions} -${deletions}\\\
          n` +\n    `审查时间：${ts}\\n` +\n    `关联任务：N/A\\n\\n` +\n    `---\\n\\n` +\n\
          \    `MR 描述：\\n${(mr_description || '').slice(0, 8000)}\\n\\n` +\n    `---\\\
          n\\n` +\n    `逐文件审查结果：\\n\\n${reviewsJoined}\\n`;\n\n  return { marker,\
          \ summary_user_input };\n}\n"
        code_language: javascript
        desc: 汇总 MR 元信息与逐文件审查内容，生成汇总模型输入
        outputs:
          marker:
            children: null
            type: string
          summary_user_input:
            children: null
            type: string
        selected: false
        title: Build MR Summary Input
        type: code
        variables:
        - value_selector:
          - '17346946700280'
          - title
          variable: mr_title
        - value_selector:
          - '17346946700280'
          - description
          variable: mr_description
        - value_selector:
          - '17346946700280'
          - author_name
          variable: author_name
        - value_selector:
          - '17346946700280'
          - author_username
          variable: author_username
        - value_selector:
          - '17346946700280'
          - mr_url
          variable: mr_url
        - value_selector:
          - '1734694634848'
          - diffs
          variable: diffs
        - value_selector:
          - '1734694634848'
          - diff_count
          variable: diff_count
        - value_selector:
          - '1734625888939'
          - output
          variable: file_reviews
        - value_selector:
          - env
          - GITLAB_REVIEWER_USERNAME
          variable: reviewer_username
      height: 96
      id: '1757000000003'
      position:
        x: 12942
        y: 340
      positionAbsolute:
        x: 12942
        y: 340
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1757000000001'
          - result
        desc: 使用 MR Review 提示词生成 MR 级汇总报告
        model:
          completion_params:
            temperature: 0.1
            top_p: 0.5
          mode: chat
          name: deepseek-v3.2-exp
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 1757000000004-system
          role: system
          text: "# MR Review 提示词\n\n## 角色设定\n\n你是一位资深的前端架构师和代码审查专家，负责对 Fox-UI 项目的\
            \ Merge Request 进行专业的 Code Review。你精通 React 生态、微前端架构、TypeScript 以及现代化前端工程实践。\n\
            \n---\n\n## 审查目标\n\n对提交的代码变更进行**全面、严格、建设性**的审查,确保代码质量、可维护性、性能和安全性符合团队标准。\n\
            \n---\n\n## 审查维度\n\n### 1. 代码规范与风格 (Code Style & Standards)\n\n**检查项：**\n\
            \n- ✅ 代码是否符合 [前端开发规范文档](/spec/前端开发规范文档.md)\n- ✅ 是否通过 Biome 格式化检查（空格缩进、80\
            \ 字符换行、单/双引号规范）\n- ✅ 命名是否规范：\n  - React 组件使用 PascalCase（如 `UserTable.tsx`）\n\
            \  - 函数/变量使用 camelCase\n  - 类型/接口使用 PascalCase\n  - 常量使用 UPPER_SNAKE_CASE\n\
            - ✅ 文件组织是否合理（组件、hooks、utils、services 分类清晰）\n- ✅ 是否有不必要的注释或调试代码（console.log、debugger）\n\
            \n**重点关注：**\n\n- 代码是否符合 Biome 配置：单引号（TS/JS）、双引号（JSX）、80 字符行宽\n- 组件文件名与导出名是否一致\n\
            - 样式文件命名是否规范（如 `UserTable.module.less`）\n\n---\n\n### 2. TypeScript 类型安全\
            \ (Type Safety)\n\n**检查项：**\n\n- ✅ 是否正确定义类型，避免使用 `any`（除非必要且有注释说明）\n-\
            \ ✅ 接口定义是否完整、准确\n- ✅ 泛型使用是否合理\n- ✅ 类型导入/导出是否使用 `import type`\n- ✅ 是否有类型断言滥用（`as`）\n\
            - ✅ Props 类型是否完整定义\n\n**重点关注：**\n\n- 避免隐式 `any`\n- 接口定义应放在 `types.ts`\
            \ 或组件文件顶部\n- API 响应数据是否有完整类型定义\n\n---\n\n### 3. React 最佳实践 (React Best\
            \ Practices)\n\n**检查项：**\n\n- ✅ 组件是否采用函数式写法\n- ✅ Hooks 使用是否符合规范：\n  -\
            \ 是否在顶层调用\n  - 依赖数组是否完整\n  - 是否有不必要的 useEffect\n- ✅ 状态管理是否合理（本地 state\
            \ vs Zustand）\n- ✅ 是否有性能优化（useMemo、useCallback、React.memo）\n- ✅ 组件拆分是否合理（单一职责原则）\n\
            - ✅ 是否有内存泄漏风险（未清理的订阅、定时器）\n\n**重点关注：**\n\n- useEffect 依赖数组完整性\n- 避免在循环/条件中使用\
            \ Hooks\n- 大列表是否考虑虚拟滚动\n- 是否有不必要的重渲染\n\n---\n\n### 4. 微前端架构规范 (Micro-frontend\
            \ Architecture)\n\n**检查项：**\n\n- ✅ 子应用路由是否符合 `/{domain}/*` 通配符规范\n- ✅\
            \ 是否正确使用约定式路由（参考 Modern.js 约定式路由）\n- ✅ Module Federation 配置是否正确\n- ✅ 跨应用通信是否规范（避免全局变量污染）\n\
            - ✅ 共享依赖版本是否一致（检查 `pnpm.overrides`）\n- ✅ 页面缓存使用是否合理（`@feoe/react-keepalive`）\n\
            \n**重点关注：**\n\n- 子应用间是否有不合理的直接依赖\n- 公共组件是否放在 `packages/components`\n-\
            \ 工具函数是否放在 `packages/shared`\n\n---\n\n### 5. 性能优化 (Performance)\n\n**检查项：**\n\
            \n- ✅ 是否有大体积依赖未做按需加载\n- ✅ 组件是否合理使用懒加载（`@loadable/component`）\n- ✅ 图片/资源是否优化\n\
            - ✅ 列表渲染是否有 key 优化\n- ✅ 是否有不必要的计算或渲染\n- ✅ API 请求是否有缓存策略\n- ✅ 是否有防抖/节流处理（搜索、滚动等）\n\
            \n**重点关注：**\n\n- Bundle 体积是否合理（可通过 `pnpm analyze` 检查）\n- 首屏加载性能\n- 长列表性能\n\
            \n---\n\n### 6. 错误处理与边界情况 (Error Handling & Edge Cases)\n\n**检查项：**\n\n\
            - ✅ API 请求是否有错误处理\n- ✅ 是否有 ErrorBoundary 保护关键组件\n- ✅ 表单验证是否完善\n- ✅ 空状态、加载状态、错误状态是否处理\n\
            - ✅ 边界条件是否考虑（空数组、null、undefined）\n- ✅ 是否有合适的用户提示（Toast、Modal）\n\n**重点关注：**\n\
            \n- 网络异常处理\n- 用户输入校验\n- 空数据展示\n\n---\n\n### 7. 安全性 (Security)\n\n**检查项：**\n\
            \n- ✅ 是否有 XSS 风险（dangerouslySetInnerHTML）\n- ✅ 敏感信息是否暴露（API Key、Token）\n\
            - ✅ 用户输入是否正确转义\n- ✅ 权限校验是否完整\n- ✅ 接口调用是否有鉴权\n\n**重点关注：**\n\n- 不要在代码中硬编码敏感信息\n\
            - 用户生成内容需要转义\n\n---\n\n### 8. 测试覆盖 (Testing)\n\n**检查项：**\n\n- ✅ 是否有对应的单元测试（关键逻辑）\n\
            - ✅ 测试用例是否完整（正常/异常/边界）\n- ✅ Hooks 测试是否正确\n- ✅ 是否需要集成测试\n\n**重点关注：**\n\n\
            - 核心业务逻辑应有测试覆盖\n- 建议核心模块保持 80% 以上覆盖率\n\n---\n\n### 9. 文档与注释 (Documentation)\n\
            \n**检查项：**\n\n- ✅ 复杂逻辑是否有注释说明\n- ✅ 公共组件是否有使用文档\n- ✅ API 接口是否有注释\n- ✅ README\
            \ 是否需要更新\n- ✅ 类型定义是否有 JSDoc 说明\n\n**重点关注：**\n\n- 注释应说明\\\"为什么\\\"而非\\\"\
            做什么\\\"\n- 公共组件需要有 Props 说明\n\n---\n\n### 10. Git 与提交规范 (Git & Commit)\n\
            \n**检查项：**\n\n- ✅ Commit Message 是否符合规范（`feat:`、`fix:`、`chore:`、`hotfix:`）\n\
            - ✅ 是否关联任务单号\n- ✅ MR 描述是否清晰（变更内容、影响范围、测试步骤）\n- ✅ 是否有不相关的文件变更\n- ✅ 是否有敏感信息提交（`.env`、密钥）\n\
            \n**重点关注：**\n\n- 提交历史是否清晰\n- 是否需要 rebase 或 squash\n\n---\n\n## \U0001F4CB\
            \ 标准输出格式（必须严格遵守）\n\n**⚠️ 重要说明：每次 Code Review 必须完全按照以下格式输出，不得遗漏任何章节或改变结构顺序。**\n\
            \n---\n\n### 第一部分：MR 基本信息\n\n```markdown\n## \U0001F4CB MR Review 报告\n\
            \n**MR 标题**：[从 MR 中提取]\n**提交者**：[从 MR 中提取]\n**变更文件数**：X 个文件\n**变更代码行数**：+XXX\
            \ -XXX\n**关联任务**：[任务单号或 N/A]\n**审查时间**：YYYY-MM-DD HH:mm\n\n---\n```\n\n\
            ### 第二部分：快速结论\n\n```markdown\n## \U0001F3AF 审查结论\n\n**总体评分**：X/5 ⭐\n\n\
            | 维度     | 评分       | 说明       |\n| -------- | ---------- | ----------\
            \ |\n| 代码质量 | ⭐⭐⭐⭐⭐ | [简短说明] |\n| 类型安全 | ⭐⭐⭐⭐⭐ | [简短说明] |\n| 性能优化 | ⭐⭐⭐⭐⭐\
            \ | [简短说明] |\n| 可维护性 | ⭐⭐⭐⭐⭐ | [简短说明] |\n| 测试覆盖 | ⭐⭐⭐⭐⭐ | [简短说明] |\n\n\
            **合并建议**：\n\n- ✅ **通过 - 可以直接合并**\n- ⏸️ **条件通过 - 修改后可合并**（需修复 X 个 Blocker，X\
            \ 个 Major）\n- ❌ **不通过 - 需要重大修改**（存在严重问题）\n\n---\n```\n\n### 第三部分：问题汇总\n\
            \n```markdown\n## \U0001F4CA 问题统计\n\n| 严重程度      | 数量 | 说明           \
            \  |\n| ------------- | ---- | ---------------- |\n| \U0001F534 Blocker\
            \    | X    | 必须修改才能合并 |\n| \U0001F7E1 Major      | X    | 强烈建议修改    \
            \ |\n| \U0001F7E2 Minor      | X    | 可选优化         |\n| \U0001F4A1 Suggestion\
            \ | X    | 改进建议         |\n\n---\n```\n\n### 第四部分：优点表扬（必须有，哪怕只有一条）\n\n\
            ```markdown\n## ✅ 做得好的地方\n\n1. **[具体优点标题]**\n\n   - [详细描述]\n   - 示例：代码位置或片段\n\
            \n2. **[具体优点标题]**\n   - [详细描述]\n\n（至少列出 1-3 条优点）\n\n---\n```\n\n### 第五部分：问题详情（按严重程度分组）\n\
            \n````markdown\n## \U0001F534 Blocker - 必须修改（X 个）\n\n### 问题 1：[问题标题]\n\
            \n**文件**：`src/path/to/file.tsx` (行 XX-XX)\n\n**问题描述**：\n[清晰描述问题]\n\n**当前代码**：\n\
            \n```typescript\n// ❌ 问题代码\n[粘贴问题代码片段];\n```\n\n**建议修改**：\n\n```typescript\n\
            // ✅ 推荐写法\n[提供修改后的代码];\n```\n\n**原因说明**：\n[解释为什么这样改，可能导致的风险]\n\n---\n\n\
            ### 问题 2：[问题标题]\n\n[同样的格式...]\n\n---\n\n## \U0001F7E1 Major - 强烈建议修改（X\
            \ 个）\n\n### 问题 1：[问题标题]\n\n**文件**：`src/path/to/file.tsx` (行 XX-XX)\n\n\
            **问题描述**：\n[清晰描述问题]\n\n**当前代码**：\n\n```typescript\n// ⚠️ 可改进代码\n[粘贴代码片段];\n\
            ```\n\n**建议修改**：\n\n```typescript\n// ✅ 更好的写法\n[提供改进方案];\n```\n\n**原因说明**：\n\
            [解释改进理由和带来的好处]\n\n---\n\n## \U0001F7E2 Minor - 可选优化（X 个）\n\n### 问题 1：[问题标题]\n\
            \n**文件**：`src/path/to/file.tsx` (行 XX-XX)\n\n**建议**：\n[简短描述优化建议]\n\n**示例**（可选）：\n\
            \n```typescript\n// \U0001F4A1 优化建议\n[可选的代码示例];\n```\n\n---\n\n## \U0001F4A1\
            \ Suggestion - 改进建议与学习\n\n### 建议 1：[建议标题]\n\n**说明**：\n[详细的改进思路或最佳实践分享]\n\
            \n**参考资料**（如有）：\n\n- [相关文档链接]\n\n---\n\n````\n\n### 第六部分：文件清单（变更文件超过 5\
            \ 个时必须提供）\n\n```markdown\n## \U0001F4C1 变更文件清单\n\n| 文件路径 | 变更类型 | 问题数量\
            \ | 备注 |\n|---------|---------|---------|------|\n| `src/components/UserTable.tsx`\
            \ | 修改 | \U0001F534×1 \U0001F7E1×2 | 主要问题文件 |\n| `src/services/user.service.ts`\
            \ | 新增 | \U0001F7E1×1 | 缺少错误处理 |\n| `src/utils/format.ts` | 修改 | \U0001F7E2\
            ×1 | 小优化建议 |\n| `src/types/user.ts` | 新增 | ✅ | 无问题 |\n\n---\n````\n\n\
            ### 第七部分：检查清单（必须完整填写）\n\n```markdown\n## ✅ 审查检查清单\n\n### 代码规范\n\n- [ ]\
            \ Biome 格式检查通过\n- [ ] 命名规范符合要求\n- [ ] 无调试代码（console.log、debugger）\n- [\
            \ ] 文件组织合理\n\n### TypeScript\n\n- [ ] 无 `any` 类型（或有合理注释）\n- [ ] 类型定义完整\n\
            - [ ] 正确使用 `import type`\n\n### React 最佳实践\n\n- [ ] 组件使用函数式写法\n- [ ] Hooks\
            \ 使用规范\n- [ ] 无性能问题\n- [ ] 无内存泄漏风险\n\n### 微前端架构\n\n- [ ] 路由配置正确\n- [ ]\
            \ 无跨应用不当依赖\n- [ ] 共享依赖版本一致\n\n### 性能优化\n\n- [ ] 无大体积依赖未按需加载\n- [ ] 长列表有优化\n\
            - [ ] 合理使用缓存\n\n### 错误处理\n\n- [ ] API 请求有错误处理\n- [ ] 边界情况已考虑\n- [ ] 用户提示完善\n\
            \n### 安全性\n\n- [ ] 无 XSS 风险\n- [ ] 无敏感信息泄露\n- [ ] 权限校验完整\n\n### 测试\n\n\
            - [ ] 关键逻辑有测试\n- [ ] 测试用例充分\n\n### 文档\n\n- [ ] 复杂逻辑有注释\n- [ ] 公共组件有文档\n\
            \n### Git 规范\n\n- [ ] Commit Message 规范\n- [ ] 无无关文件变更\n- [ ] MR 描述清晰\n\
            \n---\n```\n\n### 第八部分：测试建议（如适用，可选提供）\n\n```markdown\n## \U0001F9EA 测试建议\n\
            \n### 建议测试的场景\n\n1. **[场景 1 名称]**\n\n   - 测试步骤：[详细步骤]\n   - 预期结果：[预期表现]\n\
            \   - 关注点：[需要重点关注的地方]\n\n2. **[场景 2 名称]**\n   - 测试步骤：[详细步骤]\n   - 预期结果：[预期表现]\n\
            \n### 回归测试范围（如适用）\n\n- [ ] [相关功能模块 1]\n- [ ] [相关功能模块 2]\n\n### 性能测试（如适用）\n\
            \n- [ ] 页面加载时间\n- [ ] 长列表滚动流畅度\n- [ ] 内存占用情况\n\n---\n```\n\n### 第九部分：后续行动（必须明确）\n\
            \n```markdown\n## \U0001F3AC 后续行动\n\n### 提交者需要做的事情\n\n**立即处理（Blocker）：**\n\
            \n1. [ ] [具体任务 1 - 预计耗时 Xmin]\n2. [ ] [具体任务 2 - 预计耗时 Xmin]\n\n**建议处理（Major）：**\n\
            \n1. [ ] [具体任务 1 - 预计耗时 Xmin]\n2. [ ] [具体任务 2 - 预计耗时 Xmin]\n\n**可选处理（Minor）：**\n\
            \n1. [ ] [具体任务 1]\n\n### 审查者承诺\n\n- ⏰ 预计响应时间：[收到修改后 X 小时内完成二次审查]\n- \U0001F4DE\
            \ 可联系方式：[如有疑问可通过 XXX 联系]\n\n---\n```\n\n### 第十部分：审查总结（必须有）\n\n```markdown\n\
            ## \U0001F4DD 审查总结\n\n### 核心问题\n\n[用 2-3 句话概括最核心的问题]\n\n### 改进方向\n\n[用\
            \ 2-3 句话说明主要改进方向]\n\n### 总体评价\n\n[用 3-5 句话给出整体评价，包括：\n\n1. 代码整体质量\n2.\
            \ 是否符合团队规范\n3. 是否达到合并标准\n4. 对提交者的鼓励或建议]\n\n---\n\n**审查者**：[审查者姓名]\n**审查完成时间**：YYYY-MM-DD\
            \ HH:mm\n\n---\n\n_本次 Review 基于 [Fox-UI 前端开发规范](https://www.notion.so/mountainwu/296d0703435c4d8686f6f84b44bb06a3)\
            \ 进行_\n```\n\n---\n\n## \U0001F6A8 格式规范强制要求\n\n### 必须遵守的规则\n\n1. **章节完整性**：必须包含前\
            \ 7 个部分（MR 基本信息至检查清单），第 8-10 部分根据实际情况提供\n2. **顺序固定**：必须按照 1-10 的顺序输出，不得调整\n\
            3. **标题格式**：章节标题必须使用指定的 emoji 和文字\n4. **表格规范**：表格必须使用 Markdown 格式，保持对齐\n\
            5. **代码块**：所有代码示例必须使用三个反引号包裹，并标注语言\n6. **问题编号**：每个严重程度分组内的问题必须连续编号\n7.\
            \ **空行规范**：每个大章节之间必须有 `---` 分隔线\n\n### 章节提供规则\n\n**必须提供（1-7 部分）：**\n\n\
            - ✅ 第一部分：MR 基本信息\n- ✅ 第二部分：快速结论\n- ✅ 第三部分：问题汇总\n- ✅ 第四部分：优点表扬\n- ✅ 第五部分：问题详情\n\
            - ✅ 第六部分：文件清单（变更文件 > 5 个时）\n- ✅ 第七部分：检查清单\n\n**根据情况提供（8-10 部分）：**\n\n\
            - \U0001F536 第八部分：测试建议（涉及功能变更或新功能时提供）\n- \U0001F536 第九部分：后续行动（有 Blocker\
            \ 或 Major 问题时提供）\n- ✅ 第十部分：审查总结（始终提供）\n\n### 评分标准（1-5 星）\n\n| 星级     \
            \  | 说明                     |\n| ---------- | ------------------------\
            \ |\n| ⭐         | 严重不合格，大量问题     |\n| ⭐⭐       | 不合格，存在多个严重问题 |\n| ⭐⭐⭐\
            \     | 及格，有改进空间         |\n| ⭐⭐⭐⭐   | 良好，少量优化建议       |\n| ⭐⭐⭐⭐⭐ | 优秀，几乎无可挑剔\
            \       |\n\n### 问题严重程度判定标准\n\n| 级别          | 判定标准                  \
            \                                                 | 示例               \
            \                          |\n| ------------- | --------------------------------------------------------------------------\
            \ | -------------------------------------------- |\n| \U0001F534 Blocker\
            \    | 1. 安全漏洞<br>2. 严重 Bug<br>3. 破坏现有功能<br>4. 违反核心架构原则       | XSS 风险、类型错误导致运行时崩溃、内存泄漏\
            \   |\n| \U0001F7E1 Major      | 1. 性能问题<br>2. 可维护性问题<br>3. 不符合最佳实践<br>4.\
            \ 缺少重要错误处理 | 未使用 useMemo、复杂逻辑无注释、缺少边界处理 |\n| \U0001F7E2 Minor      | 1.\
            \ 代码风格问题<br>2. 小的优化空间<br>3. 注释不完善                        | 变量命名可以更清晰、可以抽取常量\
            \             |\n| \U0001F4A1 Suggestion | 1. 改进思路<br>2. 学习分享<br>3. 可选的重构建议\
            \                            | 推荐使用新的 API、分享性能优化技巧           |\n\n---\n\
            \n## 注意事项\n\n1. **保持建设性**：指出问题的同时给出解决方案\n2. **具体明确**：提供代码示例而非模糊描述\n3.\
            \ **尊重作者**：肯定优点，委婉指出不足\n4. **关注重点**：优先关注安全、性能、可维护性\n5. **避免主观**：基于团队规范和最佳实践，而非个人偏好\n\
            6. **及时响应**：尽快完成 Review，避免阻塞开发流程\n7. **格式统一**：严格按照标准输出格式，确保每次审查的输出格式保持一致\n\
            \n---\n\n## 特别关注\n\n### 微前端项目特有问题\n\n- 子应用路由冲突\n- 跨应用状态共享不当\n- Module\
            \ Federation 配置错误\n- 公共依赖版本不一致\n\n### 常见错误模式\n\n- useEffect 无限循环\n- 闭包陷阱导致的状态不同步\n\
            - 内存泄漏（未清理订阅）\n- 错误的 key 使用导致的渲染问题\n\n---\n\n## 参考资料\n\n- [前端开发规范](/spec/前端开发规范文档.md)\n\
            - [Modern.js 约定式路由](https://modernjs.dev/guides/concept/entries.html#%E7%BA%A6%E5%AE%9A%E5%BC%8F%E8%B7%AF%E7%94%B1)\n\
            - [FOX-UI 项目架构](https://fox-ui.figma.site/)\n- [React 官方文档](https://react.dev/)\n\
            - [TypeScript 最佳实践](https://www.typescriptlang.org/docs/handbook/declaration-files/do-s-and-don-ts.html)\n\
            \n---\n\n**记住**：Code Review 的目的不是挑刺，而是通过集体智慧提升代码质量，帮助团队成长。保持专业、友好、建设性的态度，同时确保每次审查的输出格式保持一致，便于团队成员快速理解和跟进。"
        - id: 1757000000004-user
          role: user
          text: '{{#1757000000003.summary_user_input#}}'
        selected: false
        title: MR Summary LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: '1757000000004'
      position:
        x: 13284
        y: 322
      positionAbsolute:
        x: 13284
        y: 322
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data:
          - id: key-value-summary-body
            key: body
            type: text
            value: '{{#1757000000003.marker#}}

              {{#1757000000004.text#}}'
          type: form-data
        desc: 发送 MR 汇总评论（notes）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: POST MR Summary Note
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/notes'
        variables: []
      height: 222
      id: '1757000000005'
      position:
        x: 13626
        y: 277
      positionAbsolute:
        x: 13626
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 8d2d7b2f-17c6-4a6b-bdba-5e2a58ff2aa2
            value: 'false'
            varType: string
            variable_selector:
            - env
            - ENABLE_LOOP_SEND_MESSAGE
          id: 'true'
          logical_operator: and
        desc: 当循环内不发消息时，在 MR 汇总 note 提交后发送一次 TV 消息
        selected: false
        title: Send Summary TV When Loop Disabled
        type: if-else
      height: 124
      id: '1757000000018'
      position:
        x: 13968
        y: 277
      positionAbsolute:
        x: 13968
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({summary, author_username, project_name, web_url, mr_title, mr_url}) {\n  const userEmail = `${author_username}@kn.group`;\n  const header = `# AI MR Review Summary\\n@${userEmail}\\n\\n项目：${project_name || ''}\\n仓库：${web_url || ''}\\nMR：${mr_title || ''}\\n链接：${mr_url || ''}\\n\\n---\\n\\n`;\n  const body = (summary || '').toString().slice(0, 12000);\n  const message = (header + body).slice(0, 15000);\n  return { message };\n}\n"
        code_language: javascript
        desc: 生成 MR 汇总的 TV 消息内容
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: Gen MR Summary TV Message
        type: code
        variables:
        - value_selector:
          - '1757000000004'
          - text
          variable: summary
        - value_selector:
          - '17346946700280'
          - author_username
          variable: author_username
        - value_selector:
          - '17346383362280'
          - project_name
          variable: project_name
        - value_selector:
          - '17346383362280'
          - web_url
          variable: web_url
        - value_selector:
          - '17346946700280'
          - title
          variable: mr_title
        - value_selector:
          - '17346946700280'
          - mr_url
          variable: mr_url
      height: 96
      id: '1757000000019'
      position:
        x: 14310
        y: 277
      positionAbsolute:
        x: 14310
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-mr-summary-tv
            key: ''
            type: text
            value: "{\n  \"botId\": \"{{#env.TV_BOOT_ID#}}\",\n  \"message\": \"{{#1757000000019.message#}}\"\n}"
          type: json
        desc: 发送 MR 汇总到 TV（仅当 ENABLE_LOOP_SEND_MESSAGE=false）
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Send MR Summary TV Message
        type: http-request
        url: https://tv-service-alert.kuainiu.chat/alert/v2/inline
        variables: []
      height: 150
      id: '1757000000020'
      position:
        x: 14652
        y: 277
      positionAbsolute:
        x: 14652
        y: 277
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 检查 Discussions 中的每条 discussion
        error_handle_mode: continue-on-error
        height: 664
        is_parallel: false
        iterator_selector:
        - '1734694634848'
        - diffs
        output_selector:
        - '1757000000002'
        - summary_item
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1734625888939start
        title: 迭代 Commits Diff list
        type: iteration
        width: 5738
      height: 664
      id: '1734625888939'
      position:
        x: 6058
        y: 39
      positionAbsolute:
        x: 6058
        y: 39
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 5738
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1734625888939start
      parentId: '1734625888939'
      position:
        x: 60
        y: 205
      positionAbsolute:
        x: 6118
        y: 244
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        code: "function main({payload}) {\n    const obj = JSON.parse(payload)\n \
          \   return {\n        object_kind: obj.object_kind||'unknown',\n       \
          \ event_type: obj.event_type||'unknown',\n        project_id: obj.project?.id||0,\n\
          \        project_name: obj.project?.name||'unknown',\n        repo_name:\
          \ obj.repository?.name||'unknown',\n        repo_description: obj.repository?.description||'unknown',\n\
          \        action: obj.object_attributes?.action||'unknown',\n        iid:\
          \ obj.object_attributes?.iid||0,\n        oldrev: obj.object_attributes?.oldrev||'unknown',\n\
          \        web_url: obj.project.web_url,\n    }\n}\n"
        code_language: javascript
        desc: 组合 Gitlab OpenAPI 的 MR 请求参数
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          action:
            children: null
            type: string
          event_type:
            children: null
            type: string
          iid:
            children: null
            type: number
          object_kind:
            children: null
            type: string
          oldrev:
            children: null
            type: string
          project_id:
            children: null
            type: number
          project_name:
            children: null
            type: string
          repo_description:
            children: null
            type: string
          repo_name:
            children: null
            type: string
          web_url:
            children: null
            type: string
        selected: false
        title: Get MR params
        type: code
        variables:
        - value_selector:
          - '1734623374802'
          - payload
          variable: payload
      height: 80
      id: '17346383362280'
      position:
        x: 342
        y: 293
      positionAbsolute:
        x: 342
        y: 293
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: 执行 GET 请求获取 MR 详情
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Read MR Detail
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}'
        variables: []
      height: 222
      id: '17346390565450'
      position:
        x: 1046
        y: 231
      positionAbsolute:
        x: 1046
        y: 231
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: Get merge request diff versions
        headers: ''
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Read MR Versions
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/versions'
        variables: []
      height: 222
      id: '17346847020550'
      position:
        x: 1730
        y: 231
      positionAbsolute:
        x: 1730
        y: 231
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({raw, ignore_files, MAX_STRING}) {\n    let ignoreReg\
          \ = new RegExp(ignore_files);\n    // 可配置的多媒体文件扩展名\n    const mediaExtensions\
          \ = [\n        // 视频\n        'mp4', 'mp3', 'avi', 'mov', 'wmv', 'flv',\
          \ 'mkv', 'webm', 'm4a', 'm4v',\n        // 音频\n        'wav', 'flac', 'aac',\
          \ 'ogg', 'opus', 'wma',\n        // 图片\n        'jpg', 'jpeg', 'png', 'gif',\
          \ 'bmp', 'svg', 'webp', 'ico', 'tiff', 'tif',\n        // 设计文件\n       \
          \ 'psd', 'ai', 'eps', 'pdf',\n        // 其他\n        'heic', 'heif', '3gp',\
          \ 'mpeg', 'mpg', 'vob', 'swf'\n    ];\n    \n    let mediaReg = new RegExp(`\\\
          \\.(${mediaExtensions.join('|')})$`, 'i');\n    \n    let obj = JSON.parse(raw);\n\
          \    \n    // 过滤函数\n    const filterItem = (item) => {\n        if (ignoreReg.exec(item.new_path)\
          \ != null) return false;\n        if (mediaReg.test(item.new_path)) return\
          \ false;\n        return true;\n    };\n    \n    let diffs = obj.diffs\n\
          \        .filter(filterItem)\n        .map(item => JSON.stringify(item));\n\
          \    \n    let diffsTokens = diffs.reduce((pre, curr) => pre + curr.length,\
          \ 0);\n \n    if(diffsTokens > MAX_STRING){\n        diffs = obj.diffs\n\
          \            .filter(filterItem)\n            .map((item, index) => `${index+1}`);\
          \        \n    }\n\n    diffs = diffs.slice(0, 30);\n\n    return {\n  \
          \      diffs,\n        diff_count: diffs.length,\n        diffs_tokens:\
          \ diffsTokens\n    }\n}"
        code_language: javascript
        desc: 获取本次 MR 修改的文件
        outputs:
          diff_count:
            children: null
            type: number
          diffs:
            children: null
            type: array[string]
          diffs_tokens:
            children: null
            type: number
        selected: false
        title: Get All Diff Array
        type: code
        variables:
        - value_selector:
          - '1757000000012'
          - raw
          variable: raw
        - value_selector:
          - env
          - IGNORE_FILES
          variable: ignore_files
        - value_selector:
          - env
          - MAX_STRING
          variable: MAX_STRING
      height: 80
      id: '1734694634848'
      position:
        x: 3480
        y: 354
      positionAbsolute:
        x: 3480
        y: 354
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({diffs}) {\n  const arr = Array.isArray(diffs) ? diffs\
          \ : [];\n  const joined = arr.map(item => typeof item === 'string' ? item\
          \ : JSON.stringify(item)).join('\\n---\\n');\n  return {\n    query: joined.slice(0,\
          \ 60000)\n  };\n}\n"
        code_language: javascript
        desc: 汇总全部 diff 生成单次检索查询
        outputs:
          query:
            children: null
            type: string
        selected: false
        title: Build Shared Retrieval Query
        type: code
        variables:
        - value_selector:
          - '1734694634848'
          - diffs
          variable: diffs
      height: 80
      id: '1757000000000'
      position:
        x: 4184
        y: 391
      positionAbsolute:
        x: 4184
        y: 391
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - LRkEOh28w79xVKOqo8gQHtEHUgjyG7qaBZOIoyt/8vGJZ5KVMgPDx2UPSdO3+cPE
        desc: 全局一次知识检索，复用到所有文件
        isInIteration: false
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank
            provider: langgenius/tongyi/tongyi
          score_threshold: null
          top_k: 4
          weights:
            keyword_setting:
              keyword_weight: 0
            vector_setting:
              embedding_model_name: text-embedding-v3
              embedding_provider_name: tongyi
              vector_weight: 1
        query_variable_selector:
        - '1757000000000'
        - query
        retrieval_mode: multiple
        selected: false
        title: Shared Knowledge Retrieval
        type: knowledge-retrieval
      height: 118
      id: '1757000000001'
      position:
        x: 4526
        y: 372
      positionAbsolute:
        x: 4526
        y: 372
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({ detail_body }) {\n    let mr = JSON.parse(detail_body);\n\
          \    \n    return { \n        title: mr.title,\n        description: mr.description,\n\
          \        author_name: mr.author.name,\n        author_username: mr.author.username,\n\
          \        mr_url: mr.web_url\n    }\n}\n"
        code_language: javascript
        desc: BODY DECODE
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          author_name:
            children: null
            type: string
          author_username:
            children: null
            type: string
          description:
            children: null
            type: string
          mr_url:
            children: null
            type: string
          title:
            children: null
            type: string
        selected: false
        title: Parse MR Detail
        type: code
        variables:
        - value_selector:
          - '17346390565450'
          - body
          variable: detail_body
      height: 80
      id: '17346946700280'
      position:
        x: 1388
        y: 302
      positionAbsolute:
        x: 1388
        y: 302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({ version_body }) {\n    // version\n    let versions\
          \ = JSON.parse(version_body);\n    let firstVersion = versions[0];\n\n \
          \   return {\n        head_commit_sha: firstVersion.head_commit_sha,\n \
          \       base_commit_sha: firstVersion.base_commit_sha,\n        start_commit_sha:\
          \ firstVersion.start_commit_sha,\n        version_id: firstVersion.id,\n\
          \    }\n}\n\nfunction generateArray(N) {\n  let array = [];\n  for (let\
          \ i = 1; i <= N; i++) {\n    array.push(i);\n  }\n  return array;\n}"
        code_language: javascript
        desc: BODY DECODE
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          base_commit_sha:
            children: null
            type: string
          head_commit_sha:
            children: null
            type: string
          start_commit_sha:
            children: null
            type: string
          version_id:
            children: null
            type: number
        selected: false
        title: Parse MR Versions
        type: code
        variables:
        - value_selector:
          - '17346847020550'
          - body
          variable: version_body
      height: 80
      id: '17346946709900'
      position:
        x: 2072
        y: 302
      positionAbsolute:
        x: 2072
        y: 302
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 7f85566e-6cf0-4e5f-84f6-1b9a1cf4b55c
            value: update
            varType: string
            variable_selector:
            - '17346383362280'
            - action
          - comparison_operator: is not
            id: 9e4f2b4b-16dd-4ec6-a55d-bb882a67f460
            value: unknown
            varType: string
            variable_selector:
            - '17346383362280'
            - oldrev
          - comparison_operator: is not
            id: 0cb1f7d2-57e0-4d2e-a40c-0d10cb83b2ce
            value: '0000000000000000000000000000000000000000'
            varType: string
            variable_selector:
            - '17346383362280'
            - oldrev
          id: 'true'
          logical_operator: and
        desc: MR open/reopen 时全量审查，MR update 时只审查 oldrev -> head 的增量 diff
        selected: false
        title: Use Incremental Diffs
        type: if-else
      height: 236
      id: '1757000000010'
      position:
        x: 2414
        y: 224
      positionAbsolute:
        x: 2414
        y: 224
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: MR update 时，基于 oldrev->head 做增量 diff（只包含本次 push 的变更）
        headers: ''
        method: get
        params: 'from:{{#17346383362280.oldrev#}}

          to:{{#17346946709900.head_commit_sha#}}

          unidiff:1'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Read MR Incremental Compare
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/repository/compare'
        variables: []
      height: 219
      id: '1757000000011'
      position:
        x: 2776
        y: 0
      positionAbsolute:
        x: 2776
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({ version_raw, compare_raw }) {\n  const hasText = (v)\
          \ => typeof v === 'string' && v.trim().length > 0;\n\n  if (hasText(compare_raw))\
          \ {\n    return { raw: compare_raw, diff_source: 'compare' };\n  }\n\n \
          \ if (hasText(version_raw)) {\n    return { raw: version_raw, diff_source:\
          \ 'mr_version' };\n  }\n\n  return { raw: JSON.stringify({ diffs: [] }),\
          \ diff_source: 'empty' };\n}\n"
        code_language: javascript
        desc: 统一 diffs 原始返回体来源（open/reopen 用 version diffs，update 用 compare）
        outputs:
          diff_source:
            children: null
            type: string
          raw:
            children: null
            type: string
        selected: false
        title: Select Diffs Raw
        type: code
        variables:
        - value_selector:
          - '17351266890650'
          - body
          variable: version_raw
        - value_selector:
          - '1757000000011'
          - body
          variable: compare_raw
      height: 112
      id: '1757000000012'
      position:
        x: 3138
        y: 338
      positionAbsolute:
        x: 3138
        y: 338
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data:
          - id: key-value-1
            key: position[position_type]
            type: text
            value: text
          - id: key-value-3
            key: position[base_sha]
            type: text
            value: '{{#17346946709900.base_commit_sha#}}'
          - id: key-value-4
            key: position[head_sha]
            type: text
            value: '{{#17346946709900.head_commit_sha#}}'
          - id: key-value-16
            key: position[start_sha]
            type: text
            value: '{{#17346946709900.start_commit_sha#}}'
          - id: key-value-32
            key: position[new_line]
            type: text
            value: '{{#1735129504155.new_line#}}'
          - id: key-value-33
            key: position[old_line]
            type: text
            value: '{{#1735129504155.old_line#}}'
          - id: key-value-34
            key: position[new_path]
            type: text
            value: '{{#1735129504155.new_path#}}'
          - id: key-value-38
            key: position[old_path]
            type: text
            value: '{{#1735129504155.old_path#}}'
          - id: key-value-39
            key: body
            type: text
            value: '{{#1735661041621.result#}}'
          - id: key-value-40
            key: ''
            type: text
            value: ''
          type: form-data
        desc: '     '
        headers: ''
        isInIteration: true
        iteration_id: '1734625888939'
        method: POST
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: POST Comment
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/discussions'
        variables: []
      height: 193
      id: '1734699123251'
      parentId: '1734625888939'
      position:
        x: 4430
        y: 411
      positionAbsolute:
        x: 10488
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 36191fc4-0ff5-4ea4-a5b1-bfd22dcb0a08
            value: ''
            varType: string
            variable_selector:
            - '1735661041621'
            - result
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: true
        iteration_id: '1734625888939'
        selected: false
        title: If has content
        type: if-else
      height: 124
      id: '1734700071985'
      parentId: '1734625888939'
      position:
        x: 3766
        y: 165
      positionAbsolute:
        x: 9824
        y: 204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: ≥
            id: 77deb18b-3aec-40fb-9a01-d3cfb5f395c2
            numberVarType: variable
            value: '{{#env.MAX_STRING#}}'
            varType: number
            variable_selector:
            - '1734694634848'
            - diffs_tokens
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Ignore Big Diffs
        type: if-else
      height: 124
      id: '1734702859732'
      position:
        x: 3822
        y: 332
      positionAbsolute:
        x: 3822
        y: 332
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data:
          - id: key-value-12
            key: body
            type: text
            value: '该 MR 有太多的修改，超过{{#env.MAX_STRING#}} 个token，请适当减少 MR 提交的大小。


              过大的 MR 提交，通常暗示着多个任务混杂提交，或者错误的文件被提交。


              较小的 MR 有利于人类做代码审查，也有利于未来可能的代码回滚。'
          - id: key-value-13
            key: ''
            type: text
            value: ''
          type: form-data
        desc: 发送 MR 内容体太大的 notes
        error_strategy: fail-branch
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: POST Too big comments
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/notes'
        variables: []
      height: 258
      id: '1734706580846'
      position:
        x: 4526
        y: 34
      positionAbsolute:
        x: 4526
        y: 34
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1757000000001'
          - result
        desc: 使用大模型检查文案
        isInIteration: true
        iteration_id: '1734625888939'
        model:
          completion_params:
            temperature: 0.1
            top_p: 0.5
          mode: chat
          name: deepseek-v3.2-exp
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 77b3d05b-a305-4a8b-bea6-aa4d66497baa
          role: system
          text: "# 代码审查专家\n你是一位经验丰富的软件工程师和代码审查专家，具备以下专长：\n## 技术栈精通\n- **前端**: JavaScript,\
            \ TypeScript, React, Vue, Angular, HTML/CSS, Flutter\n- **后端**: Node.js,\
            \ PHP, Python, Java, Golang, C/C++, C#\n- **移动端**: Flutter, React Native,\
            \ iOS/Android 原生开发\n- **数据库**: SQL, NoSQL, ORM 框架\n- **DevOps**: Docker,\
            \ Kubernetes, CI/CD, 云服务\n## 审查能力\n- 代码质量评估与优化建议\n- 架构设计合理性分析\n- 安全性漏洞识别\n\
            - 性能问题诊断\n- 最佳实践指导，包括不限于（目录、文件、程序（Class/Interface/Method/Variable/Constant/Enum/Bool）等命名规范，图标、模块、组件、代码、格式等业界规范）参考规范文档{{#context#}}\n\
            ## 响应格式\n<response-format type=\"markdown\">\n```markdown\n### ⚠️ 问题 (Issues)\n\
            #### 严重问题 (Critical)\n- [列出影响功能或安全的关键问题]\n#### 重要问题 (Important)\n- [列出影响代码质量或维护性的重要问题]\n\
            #### 建议改进 (Suggestions)\n- [列出可选的优化建议]\n### \U0001F4A1 建议 (Recommendations)\n\
            #### 立即修复 (Immediate)\n- [需要立即修复的问题和建议]\n#### 优化改进 (Optimization)\n- [代码优化和性能改进建议]\n\
            #### 最佳实践 (Best Practices)\n- [遵循行业最佳实践的建议]\n\n```\n</response-format>\n\
            ## 审查规则\n### 核心原则\n<rules>\n- **专注审查**: 只审查 `code-to-review` 部分的代码变更。样例如下:\n\
            \  <sample type=\"json\">\n    {\n        \"diff\": \"--- a/packages/core-api/src/analysis-api/analysis-api.service.ts\\\
            n+++ b/packages/core-api/src/analysis-api/analysis-api.service.ts\\n@@ -26,7 +26,7 @@ export class AnalysisApiService {\\\
            n     private moduleRef: ModuleRef,\\n     private cacheService: CalculationCacheService,\\\
            n     private measurementValueService: MeasurementValueService,\\n-  ) { }\\\
            n+  ) {}\\n   getRegisteredActions() {\\n     return this.registedActions;\\\
            n   }\\n\", // 以 unified diff 格式描述的文件内代码改动。\n        \"new_path\": \"\
            packages/core-api/src/analysis-api/analysis-api.service.ts\", // 文件新名字。\n\
                    \"old_path\": \"packages/core-api/src/analysis-api/analysis-api.service.ts\"\
            , // 文件旧名字。\n        \"new_line\": 1, // 当前改动的行\n        \"old_line\"\
            : null, // 当前改动的行之前的位置\n        \"a_mode\": \"100644\", // 文件旧的权限值。\n\
                    \"b_mode\": \"100644\", // 文件新的权限值。\n        \"new_file\": false,\
            \ // 文件是否是新建的。\n        \"renamed_file\": false, // 文件是否被改名。\n        \"\
            deleted_file\": false, // 文件是否被删除。\n        \"generated_file\": false\
            \ // 文件是否是自动生成的。\n    }\n  </sample>\n- **全面分析**: 从代码质量、业务逻辑、安全性、性能、规范等多维度评估\n\
            - **优先级排序**: 按严重程度分类问题（严重/重要/建议）\n- **建设性反馈**: 提供具体、可操作的改进建议\n- **中文回复**:\
            \ 所有反馈使用中文表达\n- 参考但不审查 file-content 部分，这是文件改动后的完整内容。当文件过长时会被省略。\n- 参考但不审查\
            \ all-changes 部分，这是本次Merge Request 的所有改动。当改动过多时会被省略。\n- 总是从代码、业务两方面进行审查。\n\
            - 总是按照 response-format 格式进行回复\n- 代码是否符合提交消息中的内容？\n- 如果有任何错误，请突出显示它们。\n\
            - 不要突出显示小问题和细节。\n- 不必对自动生成的文件进行审查。\n- 你总是用语精练、准确。\n- 当无需审查时，你总是返回空字符串\"\
            \"。\n- 你总是用中文给出反馈。\n- 你总是参考规范文档{{#context#}} 指导目录、文件、程序（Class/Interface/Method/Variable/Constant/Enum/Bool）等命名规范，图标、模块、组件、代码、格式等业界规范\n\
            </rules>\n### 审查范围\n- ✅ **代码变更**: 审查 diff 中的具体代码改动\n- ✅ **文件结构**: 评估文件组织和新文件创建\n\
            - ✅ **命名规范**: 检查变量、函数、类命名是否符合上下文中描述的规范\n- ✅ **代码风格**: 评估代码格式和风格一致性\n-\
            \ ✅ **逻辑正确性**: 验证业务逻辑实现\n- ✅ **安全性**: 识别潜在的安全漏洞\n- ✅ **性能影响**: 评估性能影响和优化空间\n\
            ### 排除范围\n- ❌ **自动生成文件**: 不审查自动生成的代码\n- ❌ **配置文件**: 不审查纯配置文件（除非有安全问题）\n\
            - ❌ **第三方代码**: 不审查未修改的第三方库代码\n### 问题分类标准\n#### 严重问题 (Critical)\n- 导致程序崩溃或异常的错误\n\
            - 安全漏洞（SQL注入、XSS、权限绕过等）\n- 数据丢失或损坏风险\n- 性能严重下降（O(n²) 算法等）\n#### 重要问题 (Important)\n\
            - 代码可读性差\n- 违反编码规范\n- 潜在的边界情况处理不当\n- 缺少必要的错误处理\n- 测试覆盖率不足\n#### 建议改进 (Suggestions)\n\
            - 代码优化机会\n- 更好的命名建议\n- 性能微优化\n- 代码结构改进"
        - id: a16669f0-2f37-40f5-a921-21f84eb8bda9
          role: assistant
          text: '## 审查检查清单

            ### 代码质量

            - [ ] 是否符合最佳实践规范？

            - [ ] 代码是否清晰易读？

            - [ ] 命名是否规范且有意义？

            - [ ] 是否有重复代码？

            - [ ] 函数是否职责单一？

            - [ ] 是否有适当的注释？

            ### 安全性

            - [ ] 是否有输入验证？

            - [ ] 是否有权限检查？

            - [ ] 是否有 SQL 注入风险？

            - [ ] 是否有 XSS 风险？

            - [ ] 敏感信息是否加密？

            ### 性能

            - [ ] 算法复杂度是否合理？

            - [ ] 是否有不必要的数据库查询？

            - [ ] 是否有内存泄漏风险？

            - [ ] 是否有缓存优化机会？

            ### 可维护性

            - [ ] 代码结构是否合理？

            - [ ] 是否有适当的错误处理？

            - [ ] 是否有单元测试？

            - [ ] 是否遵循设计模式？

            ### 业务逻辑

            - [ ] 业务需求是否完整实现？

            - [ ] 边界情况是否处理？

            - [ ] 数据验证是否充分？

            - [ ] 用户体验是否考虑？'
        - id: bf16301d-4510-4420-94d9-c32f35091008
          role: user
          text: '<repository>

            <name>{{#17346383362280.repo_name#}}</name>

            <description>{{#17346383362280.repo_description#}}</description>

            </repository>

            <merge-request>

            <title>{{#17346946700280.title#}}</title>

            <description>{{#17346946700280.description#}}</description>

            <all-changes>

            ```json

            {{#1734694634848.diffs#}}

            ```

            </all-changes>

            </merge-request>

            <file-content>{{#1735578500986.content#}}</file-content

            <code-to-review>{{#1734625888939.item#}}</code-to-review>'
        selected: false
        title: LLM Review
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: '1734775287920'
      parentId: '1734625888939'
      position:
        x: 2800
        y: 169
      positionAbsolute:
        x: 8858
        y: 208
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 1c636118-94eb-4082-a481-ea7823953ea7
            value: open
            varType: string
            variable_selector:
            - '17346383362280'
            - action
          id: 'true'
          logical_operator: or
        - case_id: 1388bd2c-6220-40e8-8106-7f12e3f29c36
          conditions:
          - comparison_operator: contains
            id: ed68d36d-bae5-4915-950f-fa0b298023a3
            value: update
            varType: string
            variable_selector:
            - '17346383362280'
            - action
          - comparison_operator: is not
            id: dfefb06e-1640-4097-b01e-17e0f9db2996
            value: unknown
            varType: string
            variable_selector:
            - '17346383362280'
            - oldrev
          id: 1388bd2c-6220-40e8-8106-7f12e3f29c36
          logical_operator: and
        - case_id: aa3a90e1-bf6e-40f6-8b14-2cc4113552bf
          conditions:
          - comparison_operator: is
            id: 1a4e3aa9-952f-409c-8f24-bcbbbab86eda
            value: push
            varType: string
            variable_selector:
            - '17346383362280'
            - object_kind
          id: aa3a90e1-bf6e-40f6-8b14-2cc4113552bf
          logical_operator: and
        desc: 根据当前 Action 走不通的执行分支
        selected: false
        title: MR Open Update Check
        type: if-else
      height: 274
      id: '1735063824243'
      position:
        x: 684
        y: 196
      positionAbsolute:
        x: 684
        y: 196
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        iteration_id: '1734694373584'
        method: get
        params: unidiff:1
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: READ MR Version Diffs
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/versions/{{#17346946709900.version_id#}}'
        variables: []
      height: 228
      id: '17351266890650'
      position:
        x: 2776
        y: 299
      positionAbsolute:
        x: 2776
        y: 299
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw, discussions, ignore_files}) {\n    const obj\
          \ = JSON.parse(raw);\n    const foundNote = discussions.find(item=>item.position.new_path\
          \ == obj.new_path);\n\n    let ignoreReg = new RegExp(ignore_files);\n \
          \   const should_ignore = ignoreReg.exec(obj.new_path)==null?'no':'yes';\n\
          \    return {\n        new_path: obj.new_path,\n        old_path: obj.old_path,\n\
          \        encoded_path: encodeURIComponent(obj.new_path),\n        note_id:\
          \ foundNote?.id || 0,\n        discussion_id: foundNote?.discussion_id||\"\
          \",\n        should_ignore: should_ignore,\n        new_line: foundNote?.new_line\
          \ || 1,\n        old_line: foundNote?.old_line || obj.old_line || 1\n  \
          \  }\n}\n"
        code_language: javascript
        desc: 解析 Merge Request 中的文件 Diff 内容，过滤掉被忽略的文件
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          discussion_id:
            children: null
            type: string
          encoded_path:
            children: null
            type: string
          new_line:
            children: null
            type: number
          new_path:
            children: null
            type: string
          note_id:
            children: null
            type: number
          old_line:
            children: null
            type: number
          old_path:
            children: null
            type: string
          should_ignore:
            children: null
            type: string
        selected: false
        title: Parse MR/Page Diff
        type: code
        variables:
        - value_selector:
          - '1735656975326'
          - output
          variable: raw
        - value_selector:
          - '1735130047799'
          - discussions
          variable: discussions
        - value_selector:
          - env
          - IGNORE_FILES
          variable: ignore_files
      height: 96
      id: '1735129504155'
      parentId: '1734625888939'
      position:
        x: 1512
        y: 179
      positionAbsolute:
        x: 7570
        y: 218
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: 获取所有现有的讨论
        headers: ''
        isInIteration: true
        iteration_id: '1734694373584'
        method: get
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get All Discussions
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/discussions?per_page=100'
        variables: []
      height: 238
      id: '17351299823070'
      position:
        x: 4888
        y: 252
      positionAbsolute:
        x: 4888
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw, username}) {\n    const discussions = JSON.parse(raw).filter(item=>\n\
          \        item.individual_note===false)\n    .map(item=>{\n        const\
          \ foundNote = item.notes.find(note=>note.author.username == username);\n\
          \        if(foundNote){\n        return {\n            ...foundNote,\n \
          \           discussion_id: item.id\n        }\n        }else{\n        \
          \    return null\n        }\n    })\n    .filter(item=>item) \n    \n  \
          \  return {\n        discussions: discussions,\n        username:username\n\
          \    }\n}\n "
        code_language: javascript
        desc: ''
        outputs:
          discussions:
            children: null
            type: array[object]
          username:
            children: null
            type: string
        selected: false
        title: Parse Discussions
        type: code
        variables:
        - value_selector:
          - '17351299823070'
          - body
          variable: raw
        - value_selector:
          - env
          - GITLAB_REVIEWER_USERNAME
          variable: username
      height: 52
      id: '1735130047799'
      position:
        x: 5230
        y: 345
      positionAbsolute:
        x: 5230
        y: 345
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: 更新评论
        headers: ''
        isInIteration: true
        iteration_id: '1734625888939'
        method: put
        params: body:{{#1735661041621.result#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Update Comment
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/discussions/{{#1735129504155.discussion_id#}}/notes/{{#1735129504155.note_id#}}'
        variables: []
      height: 291
      id: '1735131066155'
      parentId: '1734625888939'
      position:
        x: 4430
        y: 60
      positionAbsolute:
        x: 10488
        y: 99
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: 获取文件的完整内容
        headers: ''
        isInIteration: true
        iteration_id: '1734625888939'
        method: get
        params: ref:{{#17346946709900.head_commit_sha#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get File Full Content
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/repository/files/{{#1735129504155.encoded_path#}}'
        variables: []
      height: 222
      id: '1735577973160'
      parentId: '1734625888939'
      position:
        x: 2156
        y: 116
      positionAbsolute:
        x: 8214
        y: 155
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({ raw }) {\n    // 解析 JSON 字符串\n    const parsed = JSON.parse(raw);\n\
          \    \n    // 对 content 进行 Base64 解码\n    const decodedContent = atob(parsed.content);\n\
          \    \n    return {\n        content: decodedContent.length > 80000 ? 'omitted'\
          \ : decodedContent\n    };\n}"
        code_language: javascript
        desc: 解析文件内容，最大支持 8W 字符
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          content:
            children: null
            type: string
        selected: false
        title: Parse File Content
        type: code
        variables:
        - value_selector:
          - '1735577973160'
          - body
          variable: raw
      height: 80
      id: '1735578500986'
      parentId: '1734625888939'
      position:
        x: 2478
        y: 187
      positionAbsolute:
        x: 8536
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: contains
            id: 69e2c2d6-d954-4bd7-beda-e781d45e42eb
            value: new_path
            varType: string
            variable_selector:
            - '1734625888939'
            - item
          id: 'true'
          logical_operator: and
        desc: 检查是否是 new_path 即新增文件
        isInIteration: true
        iteration_id: '1734625888939'
        selected: false
        title: has new_path or not
        type: if-else
      height: 152
      id: '1735656398035'
      parentId: '1734625888939'
      position:
        x: 184
        y: 153
      positionAbsolute:
        x: 6242
        y: 192
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        iteration_id: '1734625888939'
        method: get
        params: 'page:{{#1734625888939.item#}}

          per_page:1'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get One Diff
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/diffs'
        variables: []
      height: 194
      id: '1735656485832'
      parentId: '1734625888939'
      position:
        x: 526
        y: 157
      positionAbsolute:
        x: 6584
        y: 196
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw}) {\n    return {\n        result: JSON.stringify(JSON.parse(raw)[0])\n\
          \    }\n}\n"
        code_language: javascript
        desc: 解析接口返回的 diff[0]
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Parse Diff From Page
        type: code
        variables:
        - value_selector:
          - '1735656485832'
          - body
          variable: raw
      height: 80
      id: '1735656928069'
      parentId: '1734625888939'
      position:
        x: 848
        y: 214
      positionAbsolute:
        x: 6906
        y: 253
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        advanced_settings:
          group_enabled: false
          groups:
          - groupId: 9ee3ff79-5302-4bb9-a4c5-f2e1e78b96ca
            group_name: Group1
            output_type: string
            variables:
            - - '1734625888939'
              - item
            - - '1735656928069'
              - result
        desc: 合并 Diff
        isInIteration: true
        iteration_id: '1734625888939'
        output_type: string
        selected: false
        title: Merge Diff
        type: variable-aggregator
        variables:
        - - '1735657958915'
          - result
        - - '1735656928069'
          - result
      height: 163
      id: '1735656975326'
      parentId: '1734625888939'
      position:
        x: 1190
        y: 145
      positionAbsolute:
        x: 7248
        y: 184
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw}) {\n    return {\n        result: raw\n    }\n\
          }\n"
        code_language: javascript
        desc: 传递当前对象
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Pass Item
        type: code
        variables:
        - value_selector:
          - '1734625888939'
          - item
          variable: raw
      height: 80
      id: '1735657958915'
      parentId: '1734625888939'
      position:
        x: 848
        y: 74
      positionAbsolute:
        x: 6906
        y: 113
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({review, diff_raw, new_path, encoded_path, web_url, head_sha})\
          \ {\n  const fileUrl = `${web_url}/-/blob/${head_sha}/${encoded_path}`;\n\
          \n  let diffText = '';\n  try {\n    const obj = JSON.parse(diff_raw);\n\
          \    diffText = obj?.diff || '';\n  } catch (e) {\n    diffText = typeof\
          \ diff_raw === 'string' ? diff_raw : '';\n  }\n\n  const diffLines = diffText\
          \ ? diffText.split('\\n').slice(0, 160).join('\\n') : '';\n  const trimmedReview\
          \ = (review || '').slice(0, 8000);\n\n  const summary_item = [\n    `##\
          \ ${new_path}`,\n    `\\n${fileUrl}`,\n    diffLines ? `\\n\\n\\`\\`\\`diff\\\
          n${diffLines}\\n\\`\\`\\`` : '',\n    trimmedReview ? `\\n\\n${trimmedReview}`\
          \ : ''\n  ].join('').trim();\n\n  return { summary_item };\n}\n"
        code_language: javascript
        desc: 生成用于 MR 汇总的单文件审查条目（带链接、截断 diff、截断审查结果）
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          summary_item:
            children: null
            type: string
        selected: false
        title: Compose Summary Item
        type: code
        variables:
        - value_selector:
          - '1735661041621'
          - result
          variable: review
        - value_selector:
          - '1735656975326'
          - output
          variable: diff_raw
        - value_selector:
          - '1735129504155'
          - new_path
          variable: new_path
        - value_selector:
          - '1735129504155'
          - encoded_path
          variable: encoded_path
        - value_selector:
          - '17346383362280'
          - web_url
          variable: web_url
        - value_selector:
          - '17346946709900'
          - head_commit_sha
          variable: head_sha
      height: 96
      id: '1757000000002'
      parentId: '1734625888939'
      position:
        x: 3444
        y: 179
      positionAbsolute:
        x: 9502
        y: 218
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 73e7f5a0-0d5e-46f4-8c63-e518185e0603
            value: 'no'
            varType: string
            variable_selector:
            - '1735129504155'
            - should_ignore
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: true
        iteration_id: '1734625888939'
        selected: false
        title: Skip ignore files
        type: if-else
      height: 124
      id: '1735658556053'
      parentId: '1734625888939'
      position:
        x: 1834
        y: 165
      positionAbsolute:
        x: 7892
        y: 204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({ raw }) {\n  const processed = raw\n    // Remove markdown\
          \ code block markers\n    .replace(/^```(markdown)?\\s*\\n|```\\n?$/g, '')\n\
          \    // Remove think tags\n    .replace(/<think>.*?<\\/think>/gs, '')\n\
          \    // Convert double quotes to single quotes in markdown content\n   \
          \ .replace(/[\"\"]/g, \"'\")\n    // Convert standard double quotes to single\
          \ quotes\n    .replace(/\"/g, \"'\");\n\n  return {\n    result: processed\n\
          \  };\n}\n"
        code_language: javascript
        desc: 格式化 LLM 的文本输出
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Trim CR Output by LLM
        type: code
        variables:
        - value_selector:
          - '1734775287920'
          - text
          variable: raw
      height: 80
      id: '1735661041621'
      parentId: '1734625888939'
      position:
        x: 3122
        y: 187
      positionAbsolute:
        x: 9180
        y: 226
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw}) {\n    const obj = JSON.parse(raw)\n    const\
          \ comments = obj.commits\n        .reduce((pre,curr)=>`${pre}\\n- ${curr.message.trim('\\\
          n')}`,'').trim('\\n')\n\n    const latest_commit = obj.commits.pop()\n \
          \   const is_merge_branch = (latest_commit?latest_commit.message.startsWith('Merge\
          \ branch '):false)?'yes':'no'\n   \n    return {\n        comments: comments,\n\
          \        before_hash: obj.before,\n        after_hash: obj.after,\n    \
          \    user_name: obj.user_name,\n        user_username: obj.user_username,\n\
          \        user_email: obj.user_email,\n        ref: obj.ref,\n        is_merge_branch:\
          \ is_merge_branch\n    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          after_hash:
            children: null
            type: string
          before_hash:
            children: null
            type: string
          comments:
            children: null
            type: string
          is_merge_branch:
            children: null
            type: string
          ref:
            children: null
            type: string
          user_email:
            children: null
            type: string
          user_name:
            children: null
            type: string
          user_username:
            children: null
            type: string
        selected: false
        title: Parse Pushed File Paths
        type: code
        variables:
        - value_selector:
          - '1734623374802'
          - payload
          variable: raw
      height: 52
      id: '1735985486526'
      position:
        x: 1046
        y: 533
      positionAbsolute:
        x: 1046
        y: 533
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs: []
        selected: false
        title: Not open or update
        type: end
      height: 52
      id: '1735985496074'
      position:
        x: 1046
        y: 665
      positionAbsolute:
        x: 1046
        y: 665
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: 获取 MR notes，用 marker 判断是否已提交过汇总评论
        headers: ''
        method: get
        params: 'per_page:100

          order_by:created_at

          sort:desc'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Read MR Notes
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/merge_requests/{{#17346383362280.iid#}}/notes'
        variables: []
      height: 238
      id: '1757000000013'
      position:
        x: 11896
        y: 252
      positionAbsolute:
        x: 11896
        y: 252
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1
    - data:
        code: "function main({ raw }) {\n  const marker = '<!-- ai-mr-review-summary\
          \ -->';\n\n  try {\n    const notes = JSON.parse(raw);\n    const arr =\
          \ Array.isArray(notes) ? notes : [];\n    const found = arr.find((n) =>\
          \ typeof n?.body === 'string' && n.body.includes(marker));\n\n    return\
          \ {\n      should_post_summary: found ? 'no' : 'yes',\n      existing_note_id:\
          \ found?.id || 0\n    };\n  } catch (e) {\n    return { should_post_summary:\
          \ 'yes', existing_note_id: 0 };\n  }\n}\n"
        code_language: javascript
        desc: 检查是否已存在 MR 汇总评论（通过 marker）
        outputs:
          existing_note_id:
            children: null
            type: number
          should_post_summary:
            children: null
            type: string
        selected: false
        title: Has MR Summary Note
        type: code
        variables:
        - value_selector:
          - '1757000000013'
          - body
          variable: raw
      height: 96
      id: '1757000000014'
      position:
        x: 12238
        y: 323
      positionAbsolute:
        x: 12238
        y: 323
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 7c2f82c2-746b-4997-9e7d-2871a65a56c9
            value: 'yes'
            varType: string
            variable_selector:
            - '1757000000014'
            - should_post_summary
          id: 'true'
          logical_operator: and
        desc: 已贴过汇总评论则跳过 MR 级汇总与提交
        selected: false
        title: Should Post MR Summary
        type: if-else
      height: 168
      id: '1757000000015'
      position:
        x: 12580
        y: 287
      positionAbsolute:
        x: 12580
        y: 287
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        method: get
        params: 'from:{{#1735985486526.before_hash#}}

          to:{{#1735985486526.after_hash#}}

          unidiff:1'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Read Commits Diffs
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/repository/compare'
        variables: []
      height: 175
      id: '1735994215169'
      position:
        x: 2132
        y: 715
      positionAbsolute:
        x: 2132
        y: 715
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "\nfunction main({raw, ignore_files}) {\n    let ignoreReg = new RegExp(ignore_files);\n\
          \    let obj = JSON.parse(raw);\n    let diffs = obj.diffs\n        .filter(item=>ignoreReg.exec(item.new_path)==null)\n\
          \        .map(item=>({\n            ...item,\n            source:'commit'\n\
          \        }))\n        .map(item=>JSON.stringify(item));\n        \n    return\
          \ {\n        diffs: diffs\n    }\n}\n"
        code_language: javascript
        desc: ''
        outputs:
          diffs:
            children: null
            type: array[string]
        selected: false
        title: Parse Commits Diffs
        type: code
        variables:
        - value_selector:
          - '1735994215169'
          - body
          variable: raw
        - value_selector:
          - env
          - IGNORE_FILES
          variable: ignore_files
      height: 52
      id: '17359946280530'
      position:
        x: 2474
        y: 777
      positionAbsolute:
        x: 2474
        y: 777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: '='
            id: f63f4368-2716-40ac-b790-e0cd46907737
            value: '0'
            varType: number
            variable_selector:
            - '1735129504155'
            - note_id
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: true
        iteration_id: '1734625888939'
        selected: false
        title: Has Note Id
        type: if-else
      height: 124
      id: '1735997609752'
      parentId: '1734625888939'
      position:
        x: 4088
        y: 165
      positionAbsolute:
        x: 10146
        y: 204
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        error_handle_mode: continue-on-error
        height: 392
        is_parallel: false
        iterator_selector:
        - '17359946280530'
        - diffs
        output_selector:
        - '17359979073310173599790733313'
        - result
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1735997907331start
        title: 迭代 Commits Diff list
        type: iteration
        width: 2458
      height: 392
      id: '17359979073310'
      position:
        x: 2816
        y: 607
      positionAbsolute:
        x: 2816
        y: 607
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 2458
      zIndex: 1
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 调用 AI 模型读取文件差异
        isInIteration: true
        iteration_id: '17359979073310'
        model:
          completion_params:
            temperature: 0.1
            top_p: 0.5
          mode: chat
          name: deepseek-v3.2-exp
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 77b3d05b-a305-4a8b-bea6-aa4d66497baa
          role: system
          text: "# 代码审查专家\n你是一位经验丰富的软件工程师和代码审查专家，具备以下专长：\n## 技术栈精通\n- **前端**: JavaScript,\
            \ TypeScript, React, Vue, Angular, HTML/CSS, Flutter\n- **后端**: Node.js,\
            \ PHP, Python, Java, Golang, C/C++, C#\n- **移动端**: Flutter, React Native,\
            \ iOS/Android 原生开发\n- **数据库**: SQL, NoSQL, ORM 框架\n- **DevOps**: Docker,\
            \ Kubernetes, CI/CD, 云服务\n## 审查能力\n- 代码质量评估与优化建议\n- 架构设计合理性分析\n- 安全性漏洞识别\n\
            - 性能问题诊断\n- 最佳实践指导，参考规范文档{{#context#}}\n## 响应格式\n<response-format type=\"\
            markdown\">\n```markdown\n### \U0001F50D 洞察 (Insights)\n- **代码质量**: [对代码整体质量的评价]\n\
            - **架构设计**: [对架构合理性的分析]\n- **业务逻辑**: [对业务实现的评估]\n### ⚠️ 问题 (Issues)\n\
            #### 严重问题 (Critical)\n- [列出影响功能或安全的关键问题]\n#### 重要问题 (Important)\n- [列出影响代码质量或维护性的重要问题]\n\
            #### 建议改进 (Suggestions)\n- [列出可选的优化建议]\n### \U0001F4A1 建议 (Recommendations)\n\
            #### 立即修复 (Immediate)\n- [需要立即修复的问题和建议]\n#### 优化改进 (Optimization)\n- [代码优化和性能改进建议]\n\
            #### 最佳实践 (Best Practices)\n- [遵循行业最佳实践的建议]\n### \U0001F4CA 评分\n- **代码质量**:\
            \ ⭐⭐⭐⭐⭐ (1-5星)\n- **安全性**: ⭐⭐⭐⭐⭐ (1-5星)\n- **可维护性**: ⭐⭐⭐⭐⭐ (1-5星)\n- **性能**:\
            \ ⭐⭐⭐⭐⭐ (1-5星)\n```\n</response-format>\n## 审查规则\n### 核心原则\n<rules>\n\
            - **专注审查**: 只审查 `code-to-review` 部分的代码变更。样例如下:\n  <sample type=\"json\"\
            >\n    {\n        \"diff\": \"--- a/packages/core-api/src/analysis-api/analysis-api.service.ts\\\
            n+++ b/packages/core-api/src/analysis-api/analysis-api.service.ts\\n@@ -26,7 +26,7 @@ export class AnalysisApiService {\\\
            n     private moduleRef: ModuleRef,\\n     private cacheService: CalculationCacheService,\\\
            n     private measurementValueService: MeasurementValueService,\\n-  ) { }\\\
            n+  ) {}\\n   getRegisteredActions() {\\n     return this.registedActions;\\\
            n   }\\n\", // 以 unified diff 格式描述的文件内代码改动。\n        \"new_path\": \"\
            packages/core-api/src/analysis-api/analysis-api.service.ts\", // 文件新名字。\n\
                    \"old_path\": \"packages/core-api/src/analysis-api/analysis-api.service.ts\"\
            , // 文件旧名字。\n        \"new_line\": 1, // 当前改动的行\n        \"old_line\"\
            : null, // 当前改动的行之前的位置\n        \"a_mode\": \"100644\", // 文件旧的权限值。\n\
                    \"b_mode\": \"100644\", // 文件新的权限值。\n        \"new_file\": false,\
            \ // 文件是否是新建的。\n        \"renamed_file\": false, // 文件是否被改名。\n        \"\
            deleted_file\": false, // 文件是否被删除。\n        \"generated_file\": false\
            \ // 文件是否是自动生成的。\n    }\n  </sample>\n- **全面分析**: 从代码质量、业务逻辑、安全性、性能等多维度评估\n\
            - **优先级排序**: 按严重程度分类问题（严重/重要/建议）\n- **建设性反馈**: 提供具体、可操作的改进建议\n- **中文回复**:\
            \ 所有反馈使用中文表达\n- 参考但不审查 file-content 部分，这是文件改动后的完整内容。当文件过长时会被省略。\n- 参考但不审查\
            \ all-changes 部分，这是本次Merge Request 的所有改动。当改动过多时会被省略。\n- 你总是从代码、业务两方面进行审查。\n\
            - 你总是按照 response-format 格式进行回复\n- 代码是否符合提交消息中的内容？\n- 如果有任何错误，请突出显示它们。\n\
            - 不要突出显示小问题和细节。\n- 不必对自动生成的文件进行审查。\n- 你总是用语精练、准确。\n- 当无需审查时，你总是返回空字符串\"\
            \"。\n- 你总是用中文给出反馈。\n</rules>\n### 审查范围\n- ✅ **代码变更**: 审查 diff 中的具体代码改动\n\
            - ✅ **文件结构**: 评估文件组织和新文件创建\n- ✅ **命名规范**: 检查变量、函数、类命名\n- ✅ **代码风格**: 评估代码格式和风格一致性\n\
            - ✅ **逻辑正确性**: 验证业务逻辑实现\n- ✅ **安全性**: 识别潜在的安全漏洞\n- ✅ **性能影响**: 评估性能影响和优化空间\n\
            ### 排除范围\n- ❌ **自动生成文件**: 不审查自动生成的代码\n- ❌ **配置文件**: 不审查纯配置文件（除非有安全问题）\n\
            - ❌ **第三方代码**: 不审查未修改的第三方库代码\n### 问题分类标准\n#### 严重问题 (Critical)\n- 导致程序崩溃或异常的错误\n\
            - 安全漏洞（SQL注入、XSS、权限绕过等）\n- 数据丢失或损坏风险\n- 性能严重下降（O(n²) 算法等）\n#### 重要问题 (Important)\n\
            - 代码可读性差\n- 违反编码规范\n- 潜在的边界情况处理不当\n- 缺少必要的错误处理\n- 测试覆盖率不足\n#### 建议改进 (Suggestions)\n\
            - 代码优化机会\n- 更好的命名建议\n- 性能微优化\n- 代码结构改进"
        - id: bf16301d-4510-4420-94d9-c32f35091008
          role: user
          text: '<repository>

            <name>{{#17346383362280.repo_name#}}</name>

            <description>{{#17346383362280.repo_description#}}</description>

            </repository>

            <all-changes>

            ```json

            {{#17359946280530.diffs#}}

            ```

            </all-changes>

            <file-content>{{#1735999561470.output#}}</file-content

            <code-to-review>{{#17359979073310.item#}}</code-to-review>'
        - id: 3ac91324-1c65-4e02-89dc-20161f83b579
          role: assistant
          text: '## 审查检查清单

            ### 代码质量

            - [ ] 是否符合最佳实践规范？

            - [ ] 代码是否清晰易读？

            - [ ] 命名是否规范且有意义？

            - [ ] 是否有重复代码？

            - [ ] 函数是否职责单一？

            - [ ] 是否有适当的注释？

            ### 安全性

            - [ ] 是否有输入验证？

            - [ ] 是否有权限检查？

            - [ ] 是否有 SQL 注入风险？

            - [ ] 是否有 XSS 风险？

            - [ ] 敏感信息是否加密？

            ### 性能

            - [ ] 算法复杂度是否合理？

            - [ ] 是否有不必要的数据库查询？

            - [ ] 是否有内存泄漏风险？

            - [ ] 是否有缓存优化机会？

            ### 可维护性

            - [ ] 代码结构是否合理？

            - [ ] 是否有适当的错误处理？

            - [ ] 是否有单元测试？

            - [ ] 是否遵循设计模式？

            ### 业务逻辑

            - [ ] 业务需求是否完整实现？

            - [ ] 边界情况是否处理？

            - [ ] 数据验证是否充分？

            - [ ] 用户体验是否考虑？'
        selected: false
        title: LLM Commit Diff
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: '1735997907331017359979073322'
      parentId: '17359979073310'
      position:
        x: 1834
        y: 144
      positionAbsolute:
        x: 4650
        y: 751
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw,before_hash,after_hash, web_url, index}) {\n \
          \   const obj = JSON.parse(raw);\n    const file_path = encodeURIComponent(obj.new_path)\n\
          \    const hash = obj.deleted_file?before_hash:after_hash;\n    const gitlab_file_url\
          \ = `${web_url}/-/blob/${hash}/${file_path}`;\n    return {\n        new_path:\
          \ obj.new_path,\n        old_path: obj.old_path,\n        encoded_path:\
          \ file_path,\n        need_get_file: (obj.new_file || obj.deleted_file)\
          \ ? 'no':'yes',\n        gitlab_file_url: gitlab_file_url,\n        file_index:\
          \ index + 1,\n        diff: obj.diff\n    }\n}\n"
        code_language: javascript
        desc: ''
        isInIteration: true
        iteration_id: '17359979073310'
        outputs:
          diff:
            children: null
            type: string
          encoded_path:
            children: null
            type: string
          file_index:
            children: null
            type: number
          gitlab_file_url:
            children: null
            type: string
          need_get_file:
            children: null
            type: string
          new_path:
            children: null
            type: string
          old_path:
            children: null
            type: string
        selected: false
        title: 'Parse Commit Diff '
        type: code
        variables:
        - value_selector:
          - '17359979073310'
          - item
          variable: raw
        - value_selector:
          - '1735985486526'
          - before_hash
          variable: before_hash
        - value_selector:
          - '1735985486526'
          - after_hash
          variable: after_hash
        - value_selector:
          - '17346383362280'
          - web_url
          variable: web_url
        - value_selector:
          - '17359979073310'
          - index
          variable: index
      height: 52
      id: '1735997907331017359979073323'
      parentId: '17359979073310'
      position:
        x: 184
        y: 177
      positionAbsolute:
        x: 3000
        y: 784
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config:
            api_key: '{{#env.GITLAB_PRIVATE_TOKEN#}}'
            header: PRIVATE-TOKEN
            type: custom
          type: api-key
        body:
          data: []
          type: none
        desc: ''
        headers: ''
        isInIteration: true
        iteration_id: '17359979073310'
        method: get
        params: ref:{{#1735985486526.after_hash#}}
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Get File Content
        type: http-request
        url: '{{#env.GITLAB_HOST#}}/api/v4/projects/{{#17346383362280.project_id#}}/repository/files/{{#1735997907331017359979073323.encoded_path#}}'
        variables: []
      height: 194
      id: '1735997907331017359979073325'
      parentId: '17359979073310'
      position:
        x: 848
        y: 127
      positionAbsolute:
        x: 3664
        y: 734
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({ raw }) {\n    // 解析 JSON 字符串\n    const parsed = JSON.parse(raw);\n\
          \    \n    // 对 content 进行 Base64 解码\n    const decodedContent = atob(parsed.content);\n\
          \    \n    return {\n        content: decodedContent.length > 80000 ? 'omitted'\
          \ : decodedContent\n    };\n}"
        code_language: javascript
        desc: ''
        isInIteration: true
        iteration_id: '17359979073310'
        outputs:
          content:
            children: null
            type: string
        selected: false
        title: Parse File Content
        type: code
        variables:
        - value_selector:
          - '1735997907331017359979073325'
          - body
          variable: raw
      height: 52
      id: '1735997907331017359979073326'
      parentId: '17359979073310'
      position:
        x: 1170
        y: 198
      positionAbsolute:
        x: 3986
        y: 805
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main({ raw, fileIndex, filePath, gitlabFileUrl, diff }) {\n\
          \  let trimmed = raw;\n  if (raw.startsWith(\"```\")) {\n    trimmed = raw.replace(/^```(markdown)?\\\
          s*\\n|```\\n?$/g, \"\");\n  }\n  trimmed = trimmed.replace(/<think>.*?<\\\
          /think>/gs, '');\n  const result = `## ${fileIndex}. [${filePath}](${gitlabFileUrl})\n\
          \\`\\`\\`diff\n${diff}\n\\`\\`\\`\n${trimmed}`;\n\n  return {\n    result:\
          \ result,\n  };\n}\n"
        code_language: javascript
        desc: ''
        isInIteration: true
        iteration_id: '17359979073310'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Trim and compose
        type: code
        variables:
        - value_selector:
          - '1735997907331017359979073322'
          - text
          variable: raw
        - value_selector:
          - '1735997907331017359979073323'
          - file_index
          variable: fileIndex
        - value_selector:
          - '1735997907331017359979073323'
          - new_path
          variable: filePath
        - value_selector:
          - '1735997907331017359979073323'
          - gitlab_file_url
          variable: gitlabFileUrl
        - value_selector:
          - '1735997907331017359979073323'
          - diff
          variable: diff
      height: 52
      id: '17359979073310173599790733313'
      parentId: '17359979073310'
      position:
        x: 2156
        y: 176
      positionAbsolute:
        x: 4972
        y: 783
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1735997907331start
      parentId: '17359979073310'
      position:
        x: 60
        y: 179
      positionAbsolute:
        x: 2876
        y: 786
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        outputs: []
        selected: false
        title: 结束 3
        type: end
      height: 52
      id: '1735998423516'
      position:
        x: 6058
        y: 777
      positionAbsolute:
        x: 6058
        y: 777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: 34defa7b-5aea-4fdd-af55-44a9265354f5
            value: 'yes'
            varType: string
            variable_selector:
            - '1735997907331017359979073323'
            - need_get_file
          id: 'true'
          logical_operator: and
        desc: ''
        isInIteration: true
        iteration_id: '17359979073310'
        selected: false
        title: If need get file content
        type: if-else
      height: 124
      id: '1735999461323'
      parentId: '17359979073310'
      position:
        x: 506
        y: 141
      positionAbsolute:
        x: 3322
        y: 748
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        iteration_id: '17359979073310'
        output_type: string
        selected: false
        title: Merge File Content
        type: variable-aggregator
        variables:
        - - '1735997907331017359979073326'
          - content
        - - '1735999691450'
          - result
      height: 135
      id: '1735999561470'
      parentId: '17359979073310'
      position:
        x: 1512
        y: 134
      positionAbsolute:
        x: 4328
        y: 741
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main() {\n    return {\n        result: \"\"\n    }\n}\n"
        code_language: javascript
        desc: ''
        isInIteration: true
        iteration_id: '17359979073310'
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: Empty File Content
        type: code
        variables: []
      height: 52
      id: '1735999691450'
      parentId: '17359979073310'
      position:
        x: 1170
        y: 60
      positionAbsolute:
        x: 3986
        y: 667
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "\nfunction main({raw, user_name, comments, before_hash, after_hash,\
          \ project_name,web_url, ref}) {\n    const subject = `[AI Code Review] ${project_name}\
          \ ${ref} ${after_hash}`\n    const greetings = `# AI Code Review Result\\\
          n您好 ${user_name}, 以下是对您在 [${project_name}](${web_url}) ${ref} 推送的若干提交的代码审查结果。\\\
          n## Comments:\\n${comments}` \n\n    const message = [greetings, ...raw].join('\\\
          n')\n    const markdown = [\n        markdownToHtml(greetings),\n      \
          \  ...raw.map(item=>markdownToHtml(item))\n    ].join(markdownToHtml('\\\
          n------\\n'))\n \n    const footer = `<div class=\"footer\" style=\"\n \
          \   text-align: right;\n    \">Powered by <a href=\"https://git.kuainiujinke.com/feoe/ai-code-reviewer\"\
          \ target=\"_blank\">https://git.kuainiujinke.com/feoe/ai-code-reviewer</a></div>`\n\
          \    const emailContent = `${styles}<div>${markdown}${footer}</div>`\n \
          \   \n    return {\n        message: message,\n        result: emailContent,\n\
          \        subject: subject\n    }\n}\n\nconst styles = `<style>\n/* 通用样式\
          \ */\nbody {\n    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n\
          \    line-height: 1.6;\n    color: #333;\n    background-color: #f9f9f9;\n\
          \    padding: 20px;\n    max-width: 800px;\n    margin: 0 auto;\n}\n\n/*\
          \ 标题 */\nh1, h2, h3, h4, h5, h6 {\n    color: #2c3e50;\n    margin-top:\
          \ 1em;\n    margin-bottom: 0.5em;\n}\n\nh1 {\n    font-size: 2.2em;\n  \
          \  border-bottom: 2px solid #2c3e50;\n    padding-bottom: 0.3em;\n}\n\n\
          h2 {\n    font-size: 1.8em;\n    padding-bottom: 0.2em;\n}\n\nh3 {\n   \
          \ font-size: 1.5em;\n}\n\nh4 {\n    font-size: 1.3em;\n}\n\nh5 {\n    font-size:\
          \ 1.1em;\n}\n\nh6 {\n    font-size: 1em;\n    color: #666;\n}\n\n/* 段落 */\n\
          p {\n    margin: 1em 0;\n}\n\n/* 粗体 */\nstrong {\n    color: #e74c3c;\n\
          }\n\n/* 斜体 */\nem {\n    color: #3498db;\n}\n\n/* 删除线 */\ndel {\n    color:\
          \ #95a5a6;\n}\n\n/* 链接 */\na {\n    color: #2980b9;\n    text-decoration:\
          \ none;\n    border-bottom: 1px dotted #2980b9;\n}\n\na:hover {\n    color:\
          \ #3498db;\n    border-bottom: 1px solid #3498db;\n}\n\n/* 图片 */\nimg {\n\
          \    max-width: 100%;\n    height: auto;\n    border-radius: 5px;\n    box-shadow:\
          \ 0 2px 5px rgba(0, 0, 0, 0.1);\n}\n\n/* 代码块 */\npre {\n    background-color:\
          \ #2d2d2d;\n    color: #f8f8f2;\n    padding: 15px;\n    border-radius:\
          \ 5px;\n    border: 1px solid grey;\n    overflow-x: auto;\n    font-family:\
          \ 'Courier New', Courier, monospace;\n    font-size: 0.9em;\n    line-height:\
          \ 1;\n    margin: 1.5em 0;\n}\n\ncode {\n    padding: 2px 4px;\n    border-radius:\
          \ 3px;\n    font-family: 'Courier New', Courier, monospace;\n    font-size:\
          \ 0.9em;\n}\n\npre code {\n    display: flex;\n    flex-direction: column;\n\
          }\n\n/* 横线 */\nhr {\n    border: 0;\n    height: 1px;\n    background: #ddd;\n\
          \    margin: 2em 0;\n}\n\n/* 列表 */\nul, ol {\n    margin: 1em 0;\n    padding-left:\
          \ 2em;\n}\n\nul {\n    list-style-type: disc;\n}\n\nol {\n    list-style-type:\
          \ decimal;\n}\n\nli {\n    margin: 0.5em 0;\n}\n\n/* 引用块 */\nblockquote\
          \ {\n    border-left: 4px solid #3498db;\n    background-color: #f4f4f4;\n\
          \    padding: 10px 15px;\n    margin: 1.5em 0;\n    color: #555;\n}\n\n\
          /* 表格 */\ntable {\n    width: 100%;\n    border-collapse: collapse;\n  \
          \  margin: 1.5em 0;\n}\n\nth, td {\n    padding: 10px;\n    border: 1px\
          \ solid #ddd;\n    text-align: left;\n}\n\nth {\n    background-color: #f4f4f4;\n\
          \    font-weight: bold;\n}\n\n/* 响应式设计 */\n@media (max-width: 768px) {\n\
          \    body {\n        padding: 10px;\n    }\n\n    h1 {\n        font-size:\
          \ 1.8em;\n    }\n\n    h2 {\n        font-size: 1.5em;\n    }\n\n    h3\
          \ {\n        font-size: 1.3em;\n    }\n}\n\n/* Diff 代码块样式 */\n.diff-block\
          \ {\n    background-color: #f8f8f8;\n    padding: 10px;\n    border-radius:\
          \ 5px;\n    font-family: 'Courier New', Courier, monospace;\n    font-size:\
          \ 0.9em;\n    overflow-x: auto;\n}\n\n.diff-add {\n    background-color:\
          \ #e6ffed; /* 新增行背景色 */\n    color: #22863a; /* 新增行文字颜色 */\n    padding:\
          \ 0em 5px;\n}\n\n.diff-remove {\n    background-color: #ffeef0; /* 删除行背景色\
          \ */\n    color: #cb2431; /* 删除行文字颜色 */\n    padding: 0em 5px;  \n}\n\n\
          .diff-range {\n    background-color: #f1f8ff; /* 差异范围背景色 */\n    color:\
          \ #0366d6; /* 差异范围文字颜色 */\n    padding: 0em 5px;\n}\n\n.diff-context {\n\
          \    color: #6a737d; /* 未更改行文字颜色 */\n    padding: 0em 5px;\n}\n</style>`\n\
          function encodeHtml(content) {\n    // 转义 HTML 特殊字符\n    return content\n\
          \        .replace(/&/g, '&amp;')\n        .replace(/</g, '&lt;')\n     \
          \   .replace(/>/g, '&gt;')\n        .replace(/\"/g, '&quot;')\n        .replace(/'/g,\
          \ '&#039;');\n}\nfunction markdownToHtml(markdown) {  \n    // 先处理代码块（```）\n\
          \    const codeBlocks = [];\n    markdown = markdown.replace(/```(\\w*)\\\
          n([\\s\\S]*?)```/gim, (match, language, content) => {\n        // 将代码块内容分割成行\n\
          \        const lines = content.split('\\n');\n        let truncatedContent\
          \ = lines.slice(0, 20).join('\\n'); // 只取前20行\n        // 如果超过20行，追加“下略”\n\
          \        if (lines.length > 20) {\n            truncatedContent += '\\n...（下略）';\n\
          \        }\n        // 将代码块内容保存起来，并记录语言类型\n        codeBlocks.push({ content:\
          \ truncatedContent, language });\n        // 用占位符替换代码块\n        return `@@CODEBLOCK${codeBlocks.length\
          \ - 1}@@`;\n    });\n\n    // 标题\n    markdown = markdown.replace(/^# (.*$)/gim,\
          \ '<h1>$1</h1>');\n    markdown = markdown.replace(/^## (.*$)/gim, '<h2>$1</h2>');\n\
          \    markdown = markdown.replace(/^### (.*$)/gim, '<h3>$1</h3>');\n    markdown\
          \ = markdown.replace(/^#### (.*$)/gim, '<h4>$1</h4>');\n    markdown = markdown.replace(/^#####\
          \ (.*$)/gim, '<h5>$1</h5>');\n    markdown = markdown.replace(/^###### (.*$)/gim,\
          \ '<h6>$1</h6>');\n\n    // 粗体\n    markdown = markdown.replace(/\\*\\*(.*)\\\
          *\\*/gim, '<strong>$1</strong>');\n    markdown = markdown.replace(/__(.*)__/gim,\
          \ '<strong>$1</strong>');\n\n    // 斜体\n    markdown = markdown.replace(/\\\
          *(.*)\\*/gim, '<em>$1</em>');\n    markdown = markdown.replace(/_(.*)_/gim,\
          \ '<em>$1</em>');\n\n    // 删除线\n    markdown = markdown.replace(/~~(.*)~~/gim,\
          \ '<del>$1</del>');\n\n    // 链接\n    markdown = markdown.replace(/\\[(.*?)\\\
          ]\\((.*?)\\)/gim, '<a href=\"$2\" target=\"_blank\">$1</a>');\n\n    //\
          \ 图片\n    markdown = markdown.replace(/!\\[(.*?)\\]\\((.*?)\\)/gim, '<img\
          \ src=\"$2\" alt=\"$1\" />');\n\n    // 行内代码\n    markdown = markdown.replace(/`(.*?)`/gim,\
          \ '<code>$1</code>');\n\n    // 横线（--- 或 ***）\n    markdown = markdown.replace(/^\\\
          s*([-*_])\\1{2,}\\s*$/gim, '<hr />');\n\n    // 无序列表（支持 *、- 和 +）\n    markdown\
          \ = markdown.replace(/^\\s*([*+-])\\s(.*)/gim, '<ul>\\n<li>$2</li>\\n</ul>');\n\
          \    markdown = markdown.replace(/^\\s*([*+-])\\s(.*)/gim, '<li>$2</li>');\n\
          \n    // 有序列表\n    markdown = markdown.replace(/^\\s*\\n\\d\\. (.*)/gim,\
          \ '<ol>\\n<li>$1</li>\\n</ol>');\n    markdown = markdown.replace(/^\\d\\\
          . (.*)/gim, '<li>$1</li>');\n\n    // 换行\n    markdown = markdown.replace(/\\\
          n$/gim, '<br />');\n    \n    // 将占位符替换回代码块内容\n    markdown = markdown.replace(/@@CODEBLOCK(\\\
          d+)@@/gim, (match, index) => {\n        const { content, language } = codeBlocks[index];\n\
          \        // 对内容进行 HTML 转义\n        const encodedContent = encodeHtml(content);\n\
          \        if (language === 'diff') {\n            // 如果是 diff 格式，添加特定的样式\n\
          \            const lines = encodedContent.split('\\n').map(line => {\n \
          \               if (line.startsWith('+')) {\n                    return\
          \ `<p class=\"diff-add\">${line}</p>`;\n                } else if (line.startsWith('-'))\
          \ {\n                    return `<p class=\"diff-remove\">${line}</p>`;\n\
          \                } else if (line.startsWith('@@')) {\n                 \
          \   return `<p class=\"diff-range\">${line}</p>`;\n                } else\
          \ {\n                    return `<p class=\"diff-context\">${line}</p>`;\n\
          \                }\n            }).join('');\n            return `<pre class=\"\
          diff-block\"><code>${lines}</code></pre>`;\n        } else {\n         \
          \   // 普通代码块\n            return `<pre><code>${encodedContent}</code></pre>`;\n\
          \        }\n    });\n\n    return markdown.trim();\n}"
        code_language: javascript
        desc: ''
        outputs:
          message:
            children: null
            type: string
          result:
            children: null
            type: string
          subject:
            children: null
            type: string
        selected: false
        title: Format Mail Content
        type: code
        variables:
        - value_selector:
          - '17359979073310'
          - output
          variable: raw
        - value_selector:
          - '1735985486526'
          - user_name
          variable: user_name
        - value_selector:
          - '1735985486526'
          - comments
          variable: comments
        - value_selector:
          - '1735985486526'
          - before_hash
          variable: before_hash
        - value_selector:
          - '1735985486526'
          - after_hash
          variable: after_hash
        - value_selector:
          - '17346383362280'
          - project_name
          variable: project_name
        - value_selector:
          - '17346383362280'
          - web_url
          variable: web_url
        - value_selector:
          - '1735985486526'
          - ref
          variable: ref
      height: 52
      id: '1736000355076'
      position:
        x: 5374
        y: 777
      positionAbsolute:
        x: 5374
        y: 777
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is not
            id: 7b04d786-b77b-474c-a7f6-be9efddc5001
            value: '0000000000000000000000000000000000000000'
            varType: string
            variable_selector:
            - '1735985486526'
            - before_hash
          - comparison_operator: is not
            id: 99e299bf-d93f-4a21-9109-6dca602c7f4e
            value: '0000000000000000000000000000000000000000'
            varType: string
            variable_selector:
            - '1735985486526'
            - after_hash
          - comparison_operator: not empty
            id: 3b0a3069-e461-4f12-bdc6-cd152b2977bc
            value: ''
            varType: string
            variable_selector:
            - '1735985486526'
            - user_email
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Ensure Hashes Exist
        type: if-else
      height: 176
      id: '1736003178180'
      position:
        x: 1770
        y: 697
      positionAbsolute:
        x: 1770
        y: 697
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs:
        - value_selector: []
          variable: ''
        selected: false
        title: No Hash nor Email End
        type: end
      height: 52
      id: '1736003193053'
      position:
        x: 2132
        y: 970
      positionAbsolute:
        x: 2132
        y: 970
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: d65feca8-0fa0-4313-857d-bbec5e9f779a
            value: 'no'
            varType: string
            variable_selector:
            - '1735985486526'
            - is_merge_branch
          id: 'true'
          logical_operator: and
        desc: ''
        selected: false
        title: Not merge branch
        type: if-else
      height: 124
      id: '1736228935056'
      position:
        x: 1408
        y: 711
      positionAbsolute:
        x: 1408
        y: 711
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: ''
        outputs: []
        selected: false
        title: SKIP Merge Branch
        type: end
      height: 52
      id: '1736229032478'
      position:
        x: 1770
        y: 953
      positionAbsolute:
        x: 1770
        y: 953
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-180
            key: ''
            type: text
            value: "{\n    \"botId\": \"{{#env.TV_BOOT_ID#}}\",\n    \"message\":\
              \ \"{{#1736000355076.message#}}\"\n}"
          type: json
        desc: 将 Review 的 comments 发到 TV 群
        headers: ''
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: 发送 TV 消息
        type: http-request
        url: https://tv-service-alert.kuainiu.chat/alert
        variables: []
      height: 165
      id: '1754277742659'
      position:
        x: 5716
        y: 720
      positionAbsolute:
        x: 5716
        y: 720
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "function main({result, author_username, project_name, web_url, mr_title,\
          \ mr_url, new_path}) {\n    const usereamil = `${author_username}@kn.group`\n\
          \    const greetings = `# AI Code Review Result\\n @${usereamil} , 以下是对您在\
          \ [${project_name}](${web_url}) 推送的 [${mr_title}](${mr_url}) 的 ${new_path}\
          \ 代码的审查结果:\\n\\n` \n    const message = [greetings, result].join('\\n\\\
          n')\n\n    return {\n        message: message\n    }\n}\n"
        code_language: javascript
        desc: ' 生成 TV 消息并 @指定用户'
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          message:
            children: null
            type: string
        selected: false
        title: Gen CR message
        type: code
        variables:
        - value_selector:
          - '1735661041621'
          - result
          variable: result
        - value_selector:
          - '17346946700280'
          - author_username
          variable: author_username
        - value_selector:
          - '17346383362280'
          - project_name
          variable: project_name
        - value_selector:
          - '17346383362280'
          - web_url
          variable: web_url
        - value_selector:
          - '17346946700280'
          - title
          variable: mr_title
        - value_selector:
          - '17346946700280'
          - mr_url
          variable: mr_url
        - value_selector:
          - '1735129504155'
          - new_path
          variable: new_path
      height: 80
      id: '1754278744853'
      parentId: '1734625888939'
      position:
        x: 4774.0287247979195
        y: 179
      positionAbsolute:
        x: 10832.02872479792
        y: 218
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: c73b6e8d-8d1c-4b5c-914c-f25e0c67d45e
            value: 'true'
            varType: string
            variable_selector:
            - env
            - ENABLE_LOOP_SEND_MESSAGE
          id: 'true'
          logical_operator: and
        desc: 控制是否在逐文件循环中发送 TV 消息
        isInIteration: true
        iteration_id: '1734625888939'
        selected: false
        title: Enable Loop Send Message
        type: if-else
      height: 152
      id: '1757000000016'
      parentId: '1734625888939'
      position:
        x: 5094
        y: 143
      positionAbsolute:
        x: 11152
        y: 182
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        code: "function main() {\n  return { skipped: true };\n}\n"
        code_language: javascript
        desc: ENABLE_LOOP_SEND_MESSAGE=false 时跳过发送
        isInIteration: true
        iteration_id: '1734625888939'
        outputs:
          skipped:
            children: null
            type: boolean
        selected: false
        title: Skip Loop Send Message
        type: code
        variables: []
      height: 96
      id: '1757000000017'
      parentId: '1734625888939'
      position:
        x: 5436
        y: 322
      positionAbsolute:
        x: 11494
        y: 361
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-215
            key: ''
            type: text
            value: "{\n    \"botId\": \"{{#env.TV_BOOT_ID#}}\",\n    \"message\":\
              \ \"{{#1754278744853.message#}}\"\n}"
          type: json
        desc: 将 review 的 comments 发到 TV 群
        headers: ''
        isInIteration: true
        iteration_id: '1734625888939'
        method: post
        params: ''
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 100
        selected: false
        ssl_verify: true
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: Send TV Message
        type: http-request
        url: https://tv-service-alert.kuainiu.chat/alert/v2/inline
        variables: []
      height: 136
      id: '1754289121034'
      parentId: '1734625888939'
      position:
        x: 5436
        y: 126
      positionAbsolute:
        x: 11494
        y: 165
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
      zIndex: 1002
    viewport:
      x: -12063.532066226231
      y: -138.78397184289963
      zoom: 0.9313006090806359
  rag_pipeline_variables: []
